<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>GameDayTrades - Statistic</title>
	<meta name="description" content="Sports betting analytic website">

	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">

	<!-- up to 10% speed up for external res -->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<!-- preloading icon font is helping to speed up a little bit -->
	<link rel="preload" href="/assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="assets/css/core.min.css">
	<link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap">

	<!-- favicon -->
	<link rel="apple-touch-icon" href="/assets/images/logo/logo.png">

</head>


<!--

    Layout Admin
      .layout-admin   (required)

      .aside-sticky           - sidebar : fixed and push header
      .header-sticky          - header : always visible on top (acting as old .header-focus)

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

    SCROLL TO TOP BUTTON [optional styling]

      data-s2t-disable="true"
      data-s2t-position="start|end"
      data-s2t-class="btn-secondary btn-sm"   (default)
      data-s2t-class="btn-secondary rounded-circle"
      data-s2t-class="btn-warning rounded-circle"

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

  -->

<body class="layout-admin aside-sticky bg-lime "
	data-s2t-class="btn-primary btn-sm bg-gradient-default rounded-circle border-0">

	<div id="wrapper" class="d-flex align-items-stretch flex-column">


		<!--  header -->
		<header id="header" class="d-flex align-items-center shadow-xs">

			<!-- Navbar -->
			<div class="container-fluid position-relative">

				<nav class="navbar navbar-expand-lg navbar-light justify-content-between">

					<!-- logo, navigation toggler -->
					<div class="align-items-start">

						<!-- sidebar toggler -->
						<a href="#aside-main"
							class="btn-sidebar-toggle h-100 d-inline-block d-lg-none justify-content-center align-items-center p-2">
							<span>
								<svg width="25" height="25" viewBox="0 0 20 20">
									<path
										d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z">
									</path>
									<path
										d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z">
									</path>
									<path
										d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
									</path>
									<path
										d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
									</path>
								</svg>
							</span>
						</a>

						<!-- logo : mobile only -->
						<a class="navbar-brand d-inline-block d-lg-none mx-2" href="index.html">
							<img src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
						</a>

					</div>

					<!-- navbar : navigation -->
					<div class="collapse navbar-collapse" id="navbarMainNav">
					<h2>Member Space</h2>

						<!-- navbar : mobile menu -->
						<div class="navbar-xs d-none">

							<!-- close button -->
							<button class="navbar-toggler pt-0" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<svg width="20" viewBox="0 0 20 20">
									<path
										d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
									</path>
								</svg>
							</button>

							<!-- logo -->
							<a class="navbar-brand" href="index.html">
								<img src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
							</a>

						</div>
						<!-- /navbar : mobile menu -->

						<!-- /Dropdowns -->

					</div>
					<!-- /navbar : navigation -->



					<!-- account -->
					<li class="list-inline-item mx-1 dropdown">

						<!-- has avatar -->
						<a href="#" id="dropdownAccountOptions"
							class="btn btn-sm btn-icon btn-light dropdown-toggle rounded-circle shadow bg-cover"
							style="background-image:url(/demo.files/images/icons/user750.png)" data-bs-toggle="dropdown"
							data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true"
							aria-label="Account options"></a>

						<!-- no avatar -->
						<!--
                <a href="#" id="dropdownAccountOptions" class="btn btn-sm btn-icon btn-light dropdown-toggle rounded-circle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  <span class="small fw-bold">JD</span>
                </a>
                -->


					</li>

					<!-- navigation toggler (mobile) -->


					</ul>
					<!-- /options -->

				</nav>

			</div>
			<!-- /Navbar -->

		</header>
		<!-- /Header -->


		<!-- content -->
		<div id="wrapper_content" class="d-flex flex-fill">


			<!-- sidebar -->
			<aside id="aside-main" class="aside-start aside-hide-xs bg-white shadow-sm d-flex flex-column px-2 h-auto">


				<!-- sidebar : logo -->
				<div class="py-2 px-3 mb-3 mt-1">
					<a href="index.html">
						<img src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
					</a>
				</div>
				<!-- /sidebar : logo -->


				<!-- sidebar : navigation -->
				<div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">

					<!--

              All parent open navs are closed on click!
              To ignore this feature, add .js-ignore to .nav-deep
    
              Links height (paddings):
                .nav-deep-xs
                .nav-deep-sm
                .nav-deep-md

              .nav-deep-hover     hover background slightly different
              .nav-deep-bordered  bordered links

            -->
					 <nav class="nav-deep nav-deep-sm nav-deep-light">
              <ul class="nav flex-column">

                
           
                <li class="nav-title mt-1">
                  <h6 class="mb-0 smaller text-muted text-uppercase">MEMBER AREA</h6>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/member">
                    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">  
                      <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>  
                      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
                    </svg>
                    <span class="ml-2">Dashboard</span>
                  </a>
                </li>

         
                <li class="nav-item">
                  <a class="nav-link" href="/member/mainstat">
                  
					<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">  
				  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"></path>
				</svg>
                    <span class="ml-2">Your Stats</span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">  
					  <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"></path>
						</svg>
				<span class="ml-2">Trends</span>
                  </a>
                </li>

              
                
                  <li class="nav-item">
               <a class="nav-link" th:href="@{/logout}">
                    <i class="fi fi-power float-start"></i>
                    <span class="ml-2">Log Out</span>
                  </a>
                </li>

               	<li class="nav-item">
								
									<span><hr class="w-75"></span>
				
							</li>

              </ul>
            </nav>

				</div>
				<!-- /sidebar : navigation -->


				<!-- sidebar : footer -->
				<div class="d-flex align-self-baseline w-100 py-3 px-3 border-top border-light small">

					<p class="d-inline-grid gap-auto-3 mb-0">
						<svg class="text-gray-600" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512.052 512.052" fill="currentColor">
							<path
								d="M208.026,16.026c-114.7,0-208,78.9-208,176c0,39.8,15.7,77.9,44.5,108.9l-39.8,39.8c-4.6,4.6-6,11.5-3.5,17.4c2.5,6,8.3,9.9,14.8,9.9h192c114.7,0,208-78.9,208-176S322.726,16.026,208.026,16.026z">
							</path>
							<path opacity="0.5"
								d="M467.526,428.926c28.8-30.9,44.5-69.1,44.5-108.9c0-49.8-24.6-94.9-64-126.9c-0.9,114.1-108.2,206.9-240,206.9h-89.2c34.5,56.9,104.6,96,185.2,96h192c6.5,0,12.3-3.9,14.8-9.9c2.5-6,1.1-12.9-3.5-17.4L467.526,428.926z">
							</path>
							<path fill="#ffffff"
								d="M304.026,144.026h-192c-8.8,0-16,7.2-16,16s7.2,16,16,16h192c8.8,0,16-7.2,16-16S312.826,144.026,304.026,144.026z">
							</path>
							<path fill="#ffffff"
								d="M240.026,208.026h-128c-8.8,0-16,7.2-16,16s7.2,16,16,16h128c8.8,0,16-7.2,16-16S248.826,208.026,240.026,208.026z">
							</path>
						</svg>
						<a href="#" class="link-normal text-dashed">GameDayTrades</a>
					</p>

				</div>
				<!-- /sidebar : footer -->


			</aside>
			<!-- /sidebar -->


			<!-- main -->
			<main id="middle" class="flex-fill mx-auto bg-light">


				<!-- PAGE TITLE -->
				<header>

					<div class="row g-1 align-items-center">
						<div class="col">

							<h1 class="h4">Dashboard</h1>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb small">
									<li class="breadcrumb-item"><a href="/member/mainstat">Your Stat</a></li>
									<li class="breadcrumb-item text-muted active" aria-current="page">Dashboard
									</li>
								</ol>
							</nav>

						</div>



				</header>


				<!-- Order items -->
				<div class="row g-2 p-0 py-2">

					<div class="col">
						<!-- Order items -->
						<div class="card border-1 h-100">
							<div class="card-header p-4 border border-success alert alert-success" role="alert">
							
						<strong>To start</strong> choose a date :
								
								
								<div class="float-right">
										<form action="#" th:action="@{/member}" method="post">
											<div class="input-group-over position-realtive z-index-1 bg-white">

												<input type="text" placeholder="Choose a date" id="date_p" name="date_p" th:value="${date_p}" autocomplete="off"
													class="form-control bg-transparent datepicker"
													data-today-highlight="true" data-layout-rounded="true"
													data-title="Datepicker" data-show-weeks="true" data-today-btn="true"
													data-autoclose="true" data-format="YYYY-MM-DD" data-quick-locale='{
			"days": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
			"daysShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
			"daysMin": ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
			"months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			"monthsShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
			"today": "Today",
			"clear": "Clear",
			"titleFormat": "MM yyyy"}'>

												<span class="fi fi-calendar fs--20 ml-4 mr-4 z-index-n1 text-muted">
												<input type="hidden" name="token" th:value="${tokenuser}" />
													<input class="d-none" type="submit" name="" value="">
												</span>

											</div>

										</form>
									</div>
							
								
							</div>
							

							<!--                Table to feed matches available for date-->
						
						
							<div th:if="${matchListSize >0 }" class="card-body p-2 h-100">
							
							
							<div class="alert alert-warning" role="alert">
								  Predictions for final match result <strong>(1 - home victory / X - draw / 2 - away victory)</strong>
								</div>
							
								<!-- Search bar-->
								
								<svg class="z-index-1 position-absolute start-0 mt-3 ml-3 text-primary" width="18px" height="18px" 
								xmlns="http://www.w3.org/2000/svg" 
								viewBox="0 0 24 24" fill="none" stroke="currentColor" 
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				                    <circle cx="11" cy="11" r="8"></circle>
				                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
				                  </svg>
				
				                  <div class="dropdown w-100">
				                    <input style="text-indent:20px;" class="form-control rounded form-control-sm border-success bg-transparent" id="searchBox" type="text" placeholder="Search here..." >
							     	
				                  </div>

								<div class="table-responsive-md mb-3">
								
									<table class="table table-align-middle mb-0" role="grid" id="matchListTable">
										<thead>
											<tr>

												<th class="fw-normal" style="width:20%">Match ID</th>
												<th class="fw-bold" style="width:25%">Home Team</th>
												<th class="fw-bold" style="width:25%">Away Team</th>
												<th class="fw-bold" style="width:10px">Federation</th>
												<th class="fw-bold" style="width:10px">Options</th>
											</tr>
										</thead>
										<tbody id="checkall-list">

											<!-- item -->
											<!--  <form  action="#" th:action="@{/member/savedataset}" th:object="${datasetSelected}" method="post">-->
											<tr th:each="match:${matchList}">
												<td class="fs--15"><a href="#!a" class="text-primary link-normal fw-medium text-decoration-none" th:text="${match.id}"></a>
												  <span class="d-block fw-bold smaller fw-bold text-purple">
						                          	 <i class="bi bi-exclamation-circle-fill"></i> Status:  <span th:text="${match.status}"></span>
						                        </span>
													
												</td>
												<td class="fs--15"><a href="#!b" class="text-dark link-normal fw-medium text-decoration-none" th:text="${match.homeTeam}"></a>
												 <span class="d-block fw-bold smaller fw-bold text-warning">
						                          	<font color="#82703d"> <i class="fi fi-loading-dots fi-spin"></i> Prediction:  <span th:text="${match.prediction}"></span></font>
						                        </span>
						                       
												</td>
												<td class="fs--15"><a href="#!c" class="text-dark link-normal fw-medium text-decoration-none" th:text="${match.awayTeam}"></a></td>
												<td class="fs--15"><a href="#!d" class="link-normal fw-normal  d-block text-decoration-none" th:text="${match.federation}"></a>
						                        <span class="d-block smaller fw-bold text-dark" th:text="${match.competitionCluster}">
						                          
						                        </span></td>
						                   
												<td>
													 <!-- 
													  <button type="submit" class="btn btn-success btn-sm badge mb-1">
						                            
						                            
						                               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
														  <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
														</svg>
						                              <span class="ml-2">Save</span>
						                           </button>
													 
													<span th:each="id:${userdDataset}"></span>
						                            <span th:text="${id}">ec</span> -->
						                            
						                      
						                         <button th:if="${not #lists.isEmpty(preferedDataSet)}" th:id="btnsavedataset + ${match.id}" class="btn btn-success btn-sm badge mb-3" 
						                         th:disabled="${#lists.contains(preferedDataSet, '' + match.id + '')}" 
						                         th:classappend="${#lists.contains(preferedDataSet, '' + match.id + '')} ? 'btn btn-warning btn-sm badge mb-3 disabled' : 'btn btn-success btn-sm badge mb-3'" th:onclick="func_save('[[${rnd}]]','[[${match.id}]]',[[${tokenuser}]],[[${dateTime}]],[[${date_p}]])">
						                            
						                            
						                               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
														  <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
														</svg>
						                              <span class="ml-2" th:text="${#lists.contains(preferedDataSet, '' + match.id + '')} ? 'Saved' : 'Save'"></span>
						                           </button>
						                           
						                           
						                       
						                         
												</td>

											</tr>
										
											<!-- end item -->
										</tbody>
									</table>
									
								</div>


							</div>
								
							<div class="card-footer p-4">
								<small class="d-block text-muted">Consumed from</small>
								<small class="d-block text-muted">By TheFootballTraders | Sports &ndash;</small>
							</div>
						</div>
						<!-- /Order items -->

					</div>

					<!-- side -->
					<div class="col-xl-4">
						<div class="card border-0 h-100">

							<!-- Customer -->
							<div class="card-header p-4 mb-3 bg-white">
								<div class="fw-bold d-flex align-items-center mb-3">
									<span class="w-100">Profile</span>

									<span class="fw-normal"><i class="fi fi-user-male fs--25"></i></span>

								</div>
								<a href="http://localhost:8080/member/export-to-csv" class="btn btn-primary">Download CSV File</a>
								<div class="d-flex align-items-center">

									<!-- avatar -->
									<div class="flex-none avatar avatar-lg bg-soft-primary rounded-circle"
										style="background-image:url(../../html_frontend/demo.files/images/avatar/jessica_barden.jpg)">
									</div>

									<!-- no avatar -->
									<!-- 
                    <div class="flex-none avatar avatar-lg bg-soft-primary rounded-circle">
                      <svg class="opacity-25" width="34px" height="34px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.8 460.8" fill="currentColor">
                        <path d="M230.432,0c-65.829,0-119.641,53.812-119.641,119.641s53.812,119.641,119.641,119.641s119.641-53.812,119.641-119.641S296.261,0,230.432,0z"></path>
                        <path d="M435.755,334.89c-3.135-7.837-7.314-15.151-12.016-21.943c-24.033-35.527-61.126-59.037-102.922-64.784c-5.224-0.522-10.971,0.522-15.151,3.657c-21.943,16.196-48.065,24.555-75.233,24.555s-53.29-8.359-75.233-24.555c-4.18-3.135-9.927-4.702-15.151-3.657c-41.796,5.747-79.412,29.257-102.922,64.784c-4.702,6.792-8.882,14.629-12.016,21.943c-1.567,3.135-1.045,6.792,0.522,9.927c4.18,7.314,9.404,14.629,14.106,20.898c7.314,9.927,15.151,18.808,24.033,27.167c7.314,7.314,15.673,14.106,24.033,20.898c41.273,30.825,90.906,47.02,142.106,47.02s100.833-16.196,142.106-47.02c8.359-6.269,16.718-13.584,24.033-20.898c8.359-8.359,16.718-17.241,24.033-27.167c5.224-6.792,9.927-13.584,14.106-20.898C436.8,341.682,437.322,338.024,435.755,334.89z"></path>
                      </svg>
                    </div>
                    -->

									<!-- customer details -->
									<div class="w-100 ps-4">
										<ul class="list-unstyled m-0 p-0">
											<li class="list-item"><!-- customer name, orders -->
												<a class="text-decoration-none" href="#!">Edison CHAN</a>

											</li>
											<li class="list-item"><!-- customer name, orders -->
											Token: 
												<span class="text-dark" th:text="${tokenuser}"></span>
												

											</li>
											<li class="list-item"><!-- customer email -->
												<a class="link-normal small d-inline-grid gap-auto-2"
													href="mailto:john.doe@gmail.com">
													<svg class="text-muted" width="18px" height="18px"
														xmlns="http://www.w3.org/2000/svg" fill="none"
														viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round"
															stroke-width="2"
															d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
														</path>
													</svg>
													<span>edison.chan@gmail.com</span>
												</a>
											</li>
											<li class="list-item"><!-- customer phone -->
												<a class="link-normal small d-inline-grid gap-auto-2"
													href="tel:2483440447">
													<svg class="text-muted" width="18px" height="18px"
														xmlns="http://www.w3.org/2000/svg" fill="none"
														viewBox="0 0 24 24" stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round"
															stroke-width="2"
															d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z">
														</path>
													</svg>
													<span>248-344-0447</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="card-body p-4 h-100">

						


								<div class="mb-3">

									

									<!-- imports -->





									


									<!-- /imports -->

								</div>

							</div>

							<div class="card-footer p-4">
								<span class="text-muted small">
									Football Analytics API
								</span>
							</div>
						</div>
					</div>

				</div>


			</main>
			<!-- /main -->

		</div>
		<!-- /content -->




	</div><!-- /#wrapper -->








	<!-- Core javascripts -->
	<script src="assets/js/core.min.js"></script>
	<script src="assets/js/vendor_bundle.min.js"></script>
	<script  src="https://app.freshlifefloral.com/back-end/assets/js/blockui.js"></script>
	

	<!-- Your custom javascripts -->
<!--	Calendar Date script-->
	<script>
		$("#date_p").change(function () {
			var $form = $(this).closest('form');
			$form.find('input[type=submit]').click();
			$.blockUI({baseZ: 20000, message: '<img src="https://app.freshlifefloral.com/back-end/images/cargando.gif" width="100px" height="100px" />' });
			
		});
	</script>
<!--	Search Bar script-->
	<script>
	
	// $.unblockUI();
		
		searchBox.addEventListener("keyup",function(){
			  
			
		    var keyword = this.value;
		    keyword = keyword.toUpperCase();
		    var table_3 = document.getElementById("matchListTable");
		    var all_tr = table_3.getElementsByTagName("tr");
		    for(var i=0; i<all_tr.length; i++){
		            var all_columns = all_tr[i].getElementsByTagName("td");
		            for(j=0;j<all_columns.length; j++){
		                if(all_columns[j]){
		                    var column_value = all_columns[j].textContent || all_columns[j].innerText;
		                    column_value = column_value.toUpperCase();
		                    if(column_value.indexOf(keyword) > -1){
		                        all_tr[i].style.display = ""; // show
		                        break;
		                    }else{
		                        all_tr[i].style.display = "none"; // hide
		                    }
		                }
		            }
		        }
		});
		
		
		function func_save(rnd, matchid, tokenuser, dateTime, date_p){
			$.blockUI({baseZ: 20000, message: '<img src="https://app.freshlifefloral.com/back-end/images/cargando.gif" width="100px" height="100px" />' });
			
			
			rnd = rnd.replace('&quot;','');
			matchid = matchid.replace('&quot;','');
			tokenuser = tokenuser.replace('&quot;','');
			//alert(tokenuser);
		
			var datos = "rnd="+rnd+"&matchid="+matchid+"&tok="+tokenuser+"&dos="+dateTime+"&dose="+date_p;
   		 
	    	
		     
            $.ajax({
                url: '/member/savedataset',
                type: 'GET',
                data: datos,
                success: function (result) {
									
                     if (result) {
                    	 
                    	 
                    	
                    	 document.getElementById('btnsavedataset'+matchid).disabled = true;
                    	 document.getElementById('btnsavedataset'+matchid).innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-check-fill" viewBox="0 0 16 16"><path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1.146 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/></svg><span class="ml-2">Saved</span>';
                    	 document.getElementById('btnsavedataset'+matchid).classList.add('btn-warning');
                    	 $.unblockUI();
                    	 
                    	 
                    //	 alert('saved');
                    	}
                      //  window.location.href = "subclient-market-place.php";
                    //} else {


                    //}
                }
            });

		    		
		    		
					
		}



	   
	    	
		
		
	</script>

</body>

</html>