<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>GameDayTrades</title>
    <meta name="description" content="Sports betting analytic website">

    <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">

    <!-- up to 10% speed up for external res -->
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <!-- preloading icon font is helping to speed up a little bit -->
    <link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="/assets/css/core.min.css">
    <link rel="stylesheet" href="/assets/css/vendor_bundle.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap">

    <!-- favicon -->
    <link rel="apple-touch-icon" href="/assets/images/logo/logo.png">

  </head>


  <!--

    Layout Admin
      .layout-admin   (required)

      .aside-sticky           - sidebar : fixed and push header
      .header-sticky          - header : always visible on top (acting as old .header-focus)

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

    SCROLL TO TOP BUTTON [optional styling]

      data-s2t-disable="true"
      data-s2t-position="start|end"
      data-s2t-class="btn-secondary btn-sm"   (default)
      data-s2t-class="btn-secondary rounded-circle"
      data-s2t-class="btn-warning rounded-circle"

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

  -->
  <body class="layout-admin aside-sticky bg-lime " data-s2t-class="btn-primary btn-sm bg-gradient-default rounded-circle border-0">

    <div id="wrapper" class="d-flex align-items-stretch flex-column">


      <!--  header -->
      <header id="header" class="d-flex align-items-center shadow-xs">

        <!-- Navbar -->
        <div class="container-fluid position-relative">

          <nav class="navbar navbar-expand-lg navbar-light justify-content-between">

            <!-- logo, navigation toggler -->
            <div class="align-items-start">
              
              <!-- sidebar toggler -->
              <a href="#aside-main" class="btn-sidebar-toggle h-100 d-inline-block d-lg-none justify-content-center align-items-center p-2">
                <span>
                  <svg width="25" height="25" viewBox="0 0 20 20">
                    <path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
                    <path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
                    <path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z"></path>
                    <path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z"></path>
                  </svg>
                </span>
              </a>

              <!-- logo : mobile only -->
              <a class="navbar-brand d-inline-block d-lg-none mx-2" href="index.html">
               <img src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
              </a>

            </div>

            <!-- navbar : navigation -->
            <div class="collapse navbar-collapse" id="navbarMainNav">
            <h2>Member Space</h2>

              <!-- navbar : mobile menu -->
              <div class="navbar-xs d-none">

                <!-- close button -->
                <button class="navbar-toggler pt-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
                  <svg width="20" viewBox="0 0 20 20">
                    <path d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z"></path>
                  </svg>
                </button>

                <!-- logo -->
                <a class="navbar-brand" href="index.html">
                 <img src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
                </a>

              </div>
              <!-- /navbar : mobile menu -->

              <!-- /Dropdowns -->

            </div>
            <!-- /navbar : navigation -->

           


              <!-- account -->
              <li class="list-inline-item mx-1 dropdown">

                <!-- has avatar -->
                <a href="#" id="dropdownAccountOptions" class="btn btn-sm btn-icon btn-light dropdown-toggle rounded-circle shadow bg-cover" 
                style="background-image:url(/demo.files/images/icons/user750.png)" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true" aria-label="Account options"></a>

                <!-- no avatar -->
                <!--
                <a href="#" id="dropdownAccountOptions" class="btn btn-sm btn-icon btn-light dropdown-toggle rounded-circle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  <span class="small fw-bold">JD</span>
                </a>
                -->

                
              </li>

              <!-- navigation toggler (mobile) -->
           

            </ul>
            <!-- /options -->

          </nav>

        </div>
        <!-- /Navbar -->

      </header>
      <!-- /Header -->


      <!-- content -->
      <div id="wrapper_content" class="d-flex flex-fill">


        <!-- sidebar -->
        <aside id="aside-main" class="aside-start aside-hide-xs bg-white shadow-sm d-flex flex-column px-2 h-auto">


          <!-- sidebar : logo -->
          <div class="py-2 px-3 mb-3 mt-1">
            <a href="/member/mainstat">
             <img src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
            </a>
          </div>
          <!-- /sidebar : logo -->


          <!-- sidebar : navigation -->
          <div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">

            <!--

              All parent open navs are closed on click!
              To ignore this feature, add .js-ignore to .nav-deep
    
              Links height (paddings):
                .nav-deep-xs
                .nav-deep-sm
                .nav-deep-md

              .nav-deep-hover     hover background slightly different
              .nav-deep-bordered  bordered links

            -->
              <nav class="nav-deep nav-deep-sm nav-deep-light">
              <ul class="nav flex-column">

                
           
                <li class="nav-title mt-1">
                  <h6 class="mb-0 smaller text-muted text-uppercase">MEMBER AREA</h6>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/member">
                    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">  
                      <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>  
                      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
                    </svg>
                    <span class="ml-2">Dashboard</span>
                  </a>
                </li>

         
                <li class="nav-item">
                  <a class="nav-link" href="/member/mainstat">
                  
					<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">  
				  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"></path>
				</svg>
                    <span class="ml-2">Your Stats</span>
                  </a>
                </li>

<li class="nav-item">
  <a class="nav-link" href="/member/matchdetails">
    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
      <path
        d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z">
      </path>
    </svg>
    <span>Match Details</span>
  </a>
</li>                

<li class="nav-item">
                  <a class="nav-link" href="#">
                    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-right-square-fill" viewBox="0 0 16 16">  
					  <path d="M14 0a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12zM5.904 10.803 10 6.707v2.768a.5.5 0 0 0 1 0V5.5a.5.5 0 0 0-.5-.5H6.525a.5.5 0 1 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 .707.707z"></path>
						</svg>
				<span class="ml-2">Trends</span>
                  </a>
                </li>

              
                
                  <li class="nav-item">
               <a class="nav-link" href="/">
                    <i class="fi fi-power float-start"></i>
                    <span class="ml-2">Log Out</span>
                  </a>
                </li>

               	<li class="nav-item">
								
									<span><hr class="w-75"></span>
				
							</li>

              </ul>
            </nav>

          </div>
          <!-- /sidebar : navigation -->


          <!-- sidebar : footer -->
          <div class="d-flex align-self-baseline w-100 py-3 px-3 border-top border-light small">

            <p class="d-inline-grid gap-auto-3 mb-0">
              <svg class="text-gray-600" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.052 512.052" fill="currentColor">
                <path d="M208.026,16.026c-114.7,0-208,78.9-208,176c0,39.8,15.7,77.9,44.5,108.9l-39.8,39.8c-4.6,4.6-6,11.5-3.5,17.4c2.5,6,8.3,9.9,14.8,9.9h192c114.7,0,208-78.9,208-176S322.726,16.026,208.026,16.026z"></path>
                <path opacity="0.5" d="M467.526,428.926c28.8-30.9,44.5-69.1,44.5-108.9c0-49.8-24.6-94.9-64-126.9c-0.9,114.1-108.2,206.9-240,206.9h-89.2c34.5,56.9,104.6,96,185.2,96h192c6.5,0,12.3-3.9,14.8-9.9c2.5-6,1.1-12.9-3.5-17.4L467.526,428.926z"></path>
                <path fill="#ffffff" d="M304.026,144.026h-192c-8.8,0-16,7.2-16,16s7.2,16,16,16h192c8.8,0,16-7.2,16-16S312.826,144.026,304.026,144.026z"></path>
                <path fill="#ffffff" d="M240.026,208.026h-128c-8.8,0-16,7.2-16,16s7.2,16,16,16h128c8.8,0,16-7.2,16-16S248.826,208.026,240.026,208.026z"></path>
              </svg>
              <a href="#" class="link-normal text-dashed">GameDayTrades</a>
            </p>

          </div>
          <!-- /sidebar : footer -->


        </aside>
        <!-- /sidebar -->


        <!-- main -->
        <main id="middle" class="flex-fill mx-auto bg-light">


          <!-- PAGE TITLE -->
          <header>
            <h1 class="h4">Welcome</h1>
            <nav aria-label="breadcrumb">
								<ol class="breadcrumb small">
									<li class="breadcrumb-item"><a href="/member">Dashboard</a></li>
									<li class="breadcrumb-item text-muted active" aria-current="page">Your Stats
									</li>
								</ol>
							</nav>
           
          </header>
            

          <!-- Primary -->
          <div class="section rounded mb-3">

            <div class="d-flex align-items-center justify-content-between border-bottom pb-4 my-2">

              <div class="w-100">
                <h2 class="h5 mb-0">Last Activity</h2>
               <small class="small text-muted"> Summary activity, today is </small><small class="small text-muted" th:text="${dateTime}"></small>
              </div>

              <!-- save image -->
              <a href="#" data-chartjs-id="yourstats" data-file-name="Awesome-Group-DouglasC" class="chartjs-save btn btn-sm btn-light text-primary-hover rounded-circle float-end m-0" data-bs-toggle="tooltip" title="Save Chart" aria-label="Save Chart">
                <i class="fi fi-arrow-download m-0"></i>
              </a>

            </div>

            <div class="row g-4 ">

              <div class="col-12 col-lg-7 col-xl-9 bg-white">

                <div class="position-relative h-100" style="min-height:250px; max-height:500px">
                  <canvas id="yourstats" class="chartjs" 
                    data-chartjs-dots="true" 
                    data-chartjs-legend="true" 
                    data-chartjs-grid="true" 
                    data-chartjs-tooltip="true" 

                    data-chartjs-title="Activity by visit" 
                    data-chartjs-xaxes-label="Date" 
                    data-chartjs-yaxes-label="Number of dataset" 
                    data-chartjs-line-width="8" 

                    data-chartjs-type="line" 
                    th:data-chartjs-labels='${dateArray}' 
                    th:data-chartjs-datasets='${"[{ ""label"": ""Number of dataset saved by date"" , ""data"":  " + occurrences + " , ""fill"": true, ""backgroundColor"": ""rgba(255, 111, 0, 0.7)"" }]"}'></canvas>
            
		
                </div>

              </div>

              <div class="col-12 col-lg-5 col-xl-3">

                <!-- card -->
                <div th:each="dataSet,iterator: ${preferedDataSet}" class="bg-white shadow-lg p-4 rounded my-3 transition-hover-top transition-all-ease-150" th:if="${iterator.index} <2">

             
	
                
                 <a href="#" class="d-block h6 text-dark" th:text="${'Dataset # ' + dataSet.userDatasetId}"></a>
                  <p class="small" th:text="${'This is an example for an important statistic 1 ' + dataSet.matchId}"></p>
                   <p class="small" th:text="${'Match ID : ' + dataSet.matchId}"></p>
                 
                  <!-- progress -->
                  <span class="small" th:text="${'Date : ' + dataSet.dos}"></span>
                  <div class="progress" style="height:3px">
                    <div class="progress-bar bg-success" role="progressbar" aria-label="progressbar" style="width: 100%" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                </div>

                <!-- card -->
                
            

               

              </div>

            </div>

          </div>
          <!-- /Primary -->


          <!-- widgets -->
          <div class="row g-3 mb-3">

           
            
            
            <div class="col-12 col-md-6 col-xl-6 mt-1">

              <div class="portlet">
              
              
               <div class="col-12 col-lg-7 col-xl-12 bg-white">

                <div class="position-relative h-100" style="min-height:350px; max-height:500px">
                  <canvas id="yourstats2" class="chartjs" 
                    data-chartjs-dots="true" 
                    data-chartjs-legend="true" 
                    data-chartjs-grid="false" 
                    data-chartjs-tooltip="true" 

                    data-chartjs-title="" 
                    data-chartjs-xaxes-label="Date" 
                    data-chartjs-yaxes-label="Number of dataset" 
                    data-chartjs-line-width="8" 

                    data-chartjs-type="radar" 
                    th:data-chartjs-labels='${dateArray}' 
                    th:data-chartjs-datasets='${"[{ ""label"": ""Number of dataset saved by date"" , ""data"":  " + occurrences + " , ""fill"": true, ""backgroundColor"": ""rgba(0, 181, 26, 0.9)"" }]"}'></canvas>
            
		
                </div>

              </div>
              
              </div>
              
            </div>
            
           
           <div class="col-12 col-xl-6 mt-1">

              <div class="portlet">
              
              
               <div class="col-12 col-lg-7 col-xl-12 bg-white">

                <div class="position-relative h-100" style="min-height:350px; max-height:500px">
                  <canvas id="yourstats1" class="chartjs" 
                    data-chartjs-dots="true" 
                    data-chartjs-legend="true" 
                    data-chartjs-grid="true" 
                    data-chartjs-tooltip="true" 

                    data-chartjs-title="" 
                    data-chartjs-xaxes-label="Date" 
                    data-chartjs-yaxes-label="Number of dataset" 
                    data-chartjs-line-width="8" 

                    data-chartjs-type="bar" 
                    th:data-chartjs-labels='${dateArray}' 
                    th:data-chartjs-datasets='${"[{ ""label"": ""Number of dataset saved by date"" , ""data"":  " + occurrences + " , ""fill"": true, ""backgroundColor"": ""rgba(255, 0, 0, 0.9)"" }]"}'></canvas>
            
		
                </div>

              </div>
              
              </div>
              
              </div>
            
		</div>
		
		
		 <!-- widgets -->
          <div class="row g-3 mb-3">
				<div class="col-12 col-md-6 col-xl-6">

              <!-- small graph widget -->
              <div class="bg-white shadow-md text-dark p-5 rounded text-center">

                <!-- icon -->
                <img src="https://logowik.com/content/uploads/images/fifa3518.jpg" width="150px">

                <h3 class="fs-5 mt-4">FIFA confederations</h3>
                <h3 class="h3 text-purple">6 continental confederations</h3>

                <!-- chart -->
                <div class="position-relative" style="height:100px">
                  <canvas class="chartjs" 
                    data-chartjs-dots="true" 
                    data-chartjs-legend="false" 
                    data-chartjs-grid="false" 
                    data-chartjs-tooltip="true" 

                    data-chartjs-line-width="3" 
                    data-chartjs-type="line" 

                    data-chartjs-labels='["UEFA", "OFC", "CONMEBOL", "CONCACAF", "CAF", "AFC"]' 
                      data-chartjs-datasets='[{                                                           
                          "label": "Members",
                          "data": [11, 11, 17, 11, 15, 12],
                          "fill": false,
                          "backgroundColor": "rgba(255, 159, 64, 1)"
                      }]'></canvas>
                </div>

              </div>
              <!-- /small graph widget -->

            </div>

            <div class="col-12 col-md-6 col-xl-6">

              <!-- small graph widget -->
              <div class="bg-white shadow-md text-dark p-5 rounded text-center">

                <!-- icon -->
                <span class="d-inline-flex align-items-center justify-content-center bg-light text-gray-900 rounded-circle" style="width: 100px;height:100px">
                 <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zm-48 0l-.003-.282-26.064 22.741-62.679-58.5 16.454-84.355 34.303 3.072c-24.889-34.216-60.004-60.089-100.709-73.141l13.651 31.939L256 139l-74.953-41.525 13.651-31.939c-40.631 13.028-75.78 38.87-100.709 73.141l34.565-3.073 16.192 84.355-62.678 58.5-26.064-22.741-.003.282c0 43.015 13.497 83.952 38.472 117.991l7.704-33.897 85.138 10.447 36.301 77.826-29.902 17.786c40.202 13.122 84.29 13.148 124.572 0l-29.902-17.786 36.301-77.826 85.138-10.447 7.704 33.897C442.503 339.952 456 299.015 456 256zm-248.102 69.571l-29.894-91.312L256 177.732l77.996 56.527-29.622 91.312h-96.476z"/></svg>
                </span>

                <h3 class="fs-5 mt-4 text-success">Today's predictions</h3>
                <h3 id="predictionsTimeToday" class="h3 text-primary" th:text="${matchListSize}"></h3>

                <!-- chart -->
                <div class="position-relative" style="height:110px">
                  <canvas class="chartjs" 
                    data-chartjs-dots="false" 
                    data-chartjs-legend="false" 
                    data-chartjs-grid="false" 
                    data-chartjs-tooltip="false" 

                    data-chartjs-line-width="3" 
                    data-chartjs-type="bar" 

                    data-chartjs-labels='["Game", "Game", "Game", "Game", "Game", "Game", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]' 
                    data-chartjs-datasets='[{                                                           
                        "label": "",
                        "data": [11, 11, 17, 11, 15, 12, 13, 16, 11, 18, 20, 21],
                        "fill": false,
                        "backgroundColor": "rgba(54, 162, 235, 1)"
                    }]'></canvas>
                </div>

              </div>
              <!-- /small graph widget -->
              
            </div>
   
</div>


            <div class="col-12 mt-3 col-xl-12">

            <div class="col-12 col-xl-12">
             <h3 class="fs-5 mt-4">Your saved data sets</h3>

              <div class="portlet">
                
                <div class="portlet-header">

          

<div class="mb-3">


									<div class="fw-bold d-flex align-items-center mb-3">

										<span class="w-100">Your Stats </span>
										<i class="fi fi-cloud-download fs--25"></i>
									</div>

									<!-- imports -->





									<!-- item -->
									<div th:each="dataSetList: ${preferedDataSet}" class="py-2 border-bottom border-light">




										<div class="flex-fill text-truncate px-0 small">
											<img width="25" height="25" class="img-fluid lazy"
												src="/demo.files/svg/icons/files/csv.svg" alt="..." data-loaded="true">

											<span class="text-muted" th:text="${'Match ID: ' + dataSetList.matchId}"></span> 
											<a href="#"><span class="flex-none text-success float-right ml-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
</svg> Analyze</span></a>
											<br>
											<span class="small d-block text-muted ml-5" th:text="${'Date : ' + dataSetList.dos}"></span>
											
										</div>

										
										<div class="flex-none ms-2 small text-muted text-align-end">
											<a href="#" clas="sl-2">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
  <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
</svg>
											Download</a>
										</div>

									</div>
									<!-- /item -->






									<!-- /imports -->

								</div>

                </div>

             

              </div>

            </div>
            
            
            
            
            <div id="searchByMatchID">
  <h2> Know the MatchID already? Get match odds!</h2>
  <form name="searchByMatchIDForm" action="#" th:action="@{/member/api_searchByMatchID}" onsubmit="return validateForm()" method="post" required>
    <input class="form-control" id="searchByMatchID" name="searchByMatchID"
      type="text" placeholder="Search a specific MatchID..." onkeyup="">
    <button class="btn" type="submit">Submit</button>
  </form>

  <table class="table table-align-middle mb-0" role="grid" id="matchDetailsTable">
    <thead>
      <tr>
        <th class="fw-bold" style="width:180px">Match ID</th>
        <th class="fw-bold" style="width:20px">Home Team</th>
        <th class="fw-bold" style="width:20px">Away Team</th>
        <th class="fw-bold" style="width:20px">Prediction</th>
        <th class="fw-bold" style="width:20px">Odds</th>

      </tr>
    </thead>
    <tbody id="checkall-list">

      <!-- item -->
      <tr th:each="details:${matchIDDetails}">
        <td> <a href="#!" class="link-normal fw-medium"
            th:text="${details.id}"></a></td>
        <td th:text="${details.homeTeam}"></td>
        <td th:text="${details.awayTeam}"></td>
        <td th:text="${details.prediction}"></td>
<!--												<td th:text="${getOdd_1}"></td>-->
        <td>
           <ul>
          1:<p th:text="${getOdd_1}"></p>
          2:<p th:text="${getOdd_2}"></p>
          12:<p th:text="${getOdd_12}"></p>
          X:<p th:text="${getOdd_X}"></p>
          1X:<p th:text="${getOdd_1X}"></p>
          X2:<p th:text="${getOdd_X2}"></p>
           </ul>

        </td>
      </tr>
      <!-- end item -->
    </tbody>
  </table>
</div>
            
            
            
            </div>
            
            
             

        


        </main>
        <!-- /main -->

      </div>
      <!-- /content -->




    </div><!-- /#wrapper -->


     
      

  


    <!-- Core javascripts -->
    <script src="/assets/js/core.min.js"></script>
    <script src="/assets/js/vendor_bundle.min.js"></script>
    <script  src="https://app.freshlifefloral.com/back-end/assets/js/blockui.js"></script>
    <script>
    
    
    window.onload = function(e){ 
    		
		
       
    	let options = {
        	    timeZone: 'Europe/London',
        	    year: 'numeric',
        	    month: 'numeric',
        	    day: 'numeric',
        	    hour: 'numeric',
        	    minute: 'numeric',
        	    second: 'numeric',
        	  },
        	  formatter = new Intl.DateTimeFormat([], options);

    	 document.getElementById('predictionsTimeToday').innerHTML = formatter.format(new Date());
    	 $.unblockUI();

    };
    
    
    </script>

    <!-- Your custom javascripts -->

<script>
  //If searchByMatchID search bar is empty, API will cause break, stop empty input submission
  function validateForm() {
      var x = document.forms["searchByMatchIDForm"]["searchByMatchID"].value;
      if (x == "") {
        alert("MatchID must be filled out");
        return false;
      }
    }
  </script>  

</body>
</html>