<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>GameDayTrades</title>
	<meta name="description" content="Sports betting analytic website">

	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1">

	<!-- up to 10% speed up for external res -->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<!-- preloading icon font is helping to speed up a little bit -->
	<link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="/assets/css/core.min.css">
	<link rel="stylesheet" href="/assets/css/vendor_bundle.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap">

	<!-- favicon -->
	<link rel="apple-touch-icon" href="/assets/images/logo/logo.png">

</head>


<!--

    Layout Admin
      .layout-admin   (required)

      .aside-sticky           - sidebar : fixed and push header
      .header-sticky          - header : always visible on top (acting as old .header-focus)

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

    SCROLL TO TOP BUTTON [optional styling]

      data-s2t-disable="true"
      data-s2t-position="start|end"
      data-s2t-class="btn-secondary btn-sm"   (default)
      data-s2t-class="btn-secondary rounded-circle"
      data-s2t-class="btn-warning rounded-circle"

    ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++ ++

  -->

<body class="layout-admin aside-sticky bg-lime "
	data-s2t-class="btn-primary btn-sm bg-gradient-default rounded-circle border-0">

	<div id="wrapper" class="d-flex align-items-stretch flex-column">


		<!--  header -->
		<header id="header" class="d-flex align-items-center shadow-xs">

			<!-- Navbar -->
			<div class="container-fluid position-relative">

				<nav class="navbar navbar-expand-lg navbar-light justify-content-between">

					<!-- logo, navigation toggler -->
					<div class="align-items-start">

						<!-- sidebar toggler -->
						<a href="#aside-main"
							class="btn-sidebar-toggle h-100 d-inline-block d-lg-none justify-content-center align-items-center p-2">
							<span> <svg width="25" height="25" viewBox="0 0 20 20">
									<path
										d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z">
									</path>
									<path
										d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z">
									</path>
									<path
										d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
									</path>
									<path
										d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
									</path>
								</svg>
							</span>
						</a>

						<!-- logo : mobile only -->
						<a class="navbar-brand d-inline-block d-lg-none mx-2" href="index.html"> <img
								src="/assets/images/logo/logo.png" width="85" height="70" alt="...">
						</a>

					</div>

					<!-- navbar : navigation -->
					<div class="collapse navbar-collapse" id="navbarMainNav">
						<h2>Member Space</h2>

						<!-- navbar : mobile menu -->
						<div class="navbar-xs d-none">

							<!-- close button -->
							<button class="navbar-toggler pt-0" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<svg width="20" viewBox="0 0 20 20">
									<path
										d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
									</path>
								</svg>
							</button>

							<!-- logo -->
							<a class="navbar-brand" href="index.html"> <img src="/assets/images/logo/logo.png"
									width="85" height="70" alt="...">
							</a>

						</div>
						<!-- /navbar : mobile menu -->

						<!-- /Dropdowns -->

					</div>
					<!-- /navbar : navigation -->




					<!-- account -->
					<li class="list-inline-item mx-1 dropdown">
						<!-- has avatar --> <a href="#" id="dropdownAccountOptions"
							class="btn btn-sm btn-icon btn-light dropdown-toggle rounded-circle shadow bg-cover"
							style="background-image: url(/demo.files/images/icons/user750.png)"
							data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
							aria-haspopup="true" aria-label="Account options"></a> <!-- no avatar --> <!--
                <a href="#" id="dropdownAccountOptions" class="btn btn-sm btn-icon btn-light dropdown-toggle rounded-circle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  <span class="small fw-bold">JD</span>
                </a>
                -->


					</li>

					<!-- navigation toggler (mobile) -->


					</ul>
					<!-- /options -->

				</nav>

			</div>
			<!-- /Navbar -->

		</header>
		<!-- /Header -->


		<!-- content -->
		<div id="wrapper_content" class="d-flex flex-fill">


			<!-- sidebar -->
			<aside id="aside-main" class="aside-start aside-hide-xs bg-white shadow-sm d-flex flex-column px-2 h-auto">


				<!-- sidebar : logo -->
				<div class="py-2 px-3 mb-3 mt-1">
					<a href="/member/mainstat"> <img src="/assets/images/logo/logo.png" width="85" height="70"
							alt="...">
					</a>
				</div>
				<!-- /sidebar : logo -->


				<!-- sidebar : navigation -->
				<div class="aside-wrapper scrollable-vertical scrollable-styled-light align-self-baseline h-100 w-100">

					<!--

              All parent open navs are closed on click!
              To ignore this feature, add .js-ignore to .nav-deep
    
              Links height (paddings):
                .nav-deep-xs
                .nav-deep-sm
                .nav-deep-md

              .nav-deep-hover     hover background slightly different
              .nav-deep-bordered  bordered links

            -->
					<nav class="nav-deep nav-deep-sm nav-deep-light">
						<ul class="nav flex-column">



							<li class="nav-title mt-1">
								<h6 class="mb-0 smaller text-muted text-uppercase">MEMBER AREA</h6>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/member">
									<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
										fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
										<path fill-rule="evenodd"
											d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z">
										</path>
										<path fill-rule="evenodd"
											d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z">
										</path>
									</svg>
									<span class="ml-2">Dashboard</span>
								</a>
							</li>


							<li class="nav-item">
								<a class="nav-link" href="/member/mainstat">

									<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
										fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
										<path
											d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z">
										</path>
									</svg>
									<span class="ml-2">Your Stats</span>
								</a>
							</li>

							
							<li class="nav-item">
								<a class="nav-link" href="/member/matchdetails">
									<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
										fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
										<path
											d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z">
										</path>
									</svg>
									<span>Match Details</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/member/matchodds">
									<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg"
										fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
										<path
											d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z">
										</path>
									</svg>
									<span>Match Odds</span>
								</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" th:href="@{/logout}">
									<i class="fi fi-power float-start"></i>
									<span class="ml-2">Log Out</span>
								</a>
							</li>

							<li class="nav-item">

								<span>
									<hr class="w-75">
								</span>

							</li>

						</ul>
					</nav>

				</div>
				<!-- /sidebar : navigation -->


				<!-- sidebar : footer -->
				<div class="d-flex align-self-baseline w-100 py-3 px-3 border-top border-light small">

					<p class="d-inline-grid gap-auto-3 mb-0">
						<svg class="text-gray-600" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512.052 512.052" fill="currentColor">
							<path
								d="M208.026,16.026c-114.7,0-208,78.9-208,176c0,39.8,15.7,77.9,44.5,108.9l-39.8,39.8c-4.6,4.6-6,11.5-3.5,17.4c2.5,6,8.3,9.9,14.8,9.9h192c114.7,0,208-78.9,208-176S322.726,16.026,208.026,16.026z">
							</path>
							<path opacity="0.5"
								d="M467.526,428.926c28.8-30.9,44.5-69.1,44.5-108.9c0-49.8-24.6-94.9-64-126.9c-0.9,114.1-108.2,206.9-240,206.9h-89.2c34.5,56.9,104.6,96,185.2,96h192c6.5,0,12.3-3.9,14.8-9.9c2.5-6,1.1-12.9-3.5-17.4L467.526,428.926z">
							</path>
							<path fill="#ffffff"
								d="M304.026,144.026h-192c-8.8,0-16,7.2-16,16s7.2,16,16,16h192c8.8,0,16-7.2,16-16S312.826,144.026,304.026,144.026z">
							</path>
							<path fill="#ffffff"
								d="M240.026,208.026h-128c-8.8,0-16,7.2-16,16s7.2,16,16,16h128c8.8,0,16-7.2,16-16S248.826,208.026,240.026,208.026z">
							</path>
						</svg>
						<a href="#" class="link-normal text-dashed">GameDayTrades</a>
					</p>

				</div>
				<!-- /sidebar : footer -->


			</aside>
			<!-- /sidebar -->


			<!-- main -->
			<main id="middle" class="flex-fill mx-auto bg-light">


				<!-- PAGE TITLE -->
				<header>
					<h1 class="h4">Welcome</h1>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb small">
							<li class="breadcrumb-item"><a href="/member">Dashboard</a></li>
							<li class="breadcrumb-item text-muted active" aria-current="page">Match Odds</li>
						</ol>
					</nav>

				</header>

				<div id="searchByMatchID">
					<h2>Know the MatchID already? Get match odds!</h2>
					<form name="searchByMatchIDForm" action="#" th:action="@{/member/api_searchByMatchID}"
						onsubmit="return validateForm()" method="post" required>
						<input class="form-control" id="searchByMatchID" name="searchByMatchID" type="number"
							placeholder="Search a specific MatchID..." onkeyup="">
						<button class="btn" type="submit">Submit</button>
					</form>

					<table class="table table-align-middle mb-0" role="grid" id="matchDetailsTable">
						<thead>
							<tr>
								<th class="fw-bold" style="width: 180px">Match ID</th>
								<th class="fw-bold" style="width: 20px">Home Team</th>
								<th class="fw-bold" style="width: 20px">Away Team</th>
								<th class="fw-bold" style="width: 20px">Prediction</th>
								<th class="fw-bold" style="width: 20px">Odds</th>

							</tr>
						</thead>
						<tbody id="checkall-list">

							<!-- item -->
							<tr th:each="details:${matchIDDetails}">
								<td class="fs--15"><a th:href="@{'/member/matchIDdetails?matchID=' + ${details.id}}"
														class="text-primary link-normal fw-medium text-decoration-none"
														th:text="${details.id}"></a></td>
								<td th:text="${details.homeTeam}"></td>
								<td th:text="${details.awayTeam}"></td>
								<td th:text="${details.prediction}"></td>
								<!--												<td th:text="${getOdd_1}"></td>-->
								<td>
									<ul>
										1:
										<p th:text="${getOdd_1}"></p>
										2:
										<p th:text="${getOdd_2}"></p>
										12:
										<p th:text="${getOdd_12}"></p>
										X:
										<p th:text="${getOdd_X}"></p>
										1X:
										<p th:text="${getOdd_1X}"></p>
										X2:
										<p th:text="${getOdd_X2}"></p>
									</ul>

								</td>
							</tr>
							<!-- end item -->
						</tbody>
					</table>
				</div>
				 <div class="bg-white shadow-lg p-4 rounded my-3 transition-hover-top transition-all-ease-150">
					<div id="PredictionAccuracy" class="bg-white text-center">
						<h3 class="fs-5 mt-4">Latest Prediction Accuracy</h3>
						<p>Over the last 30 days</p>
						<h2 th:text="${accuracyData_30Days}"></h2>
						<p>Over the last 14 days</p>
						<h2 th:text="${accuracyData_14Days}"></h2>
						<p>Over the last 7 days</p>
						<h2 th:text="${accuracyData_7Days}"></h2>
						<p>Yesterday</p>
						<h2 th:text="${accuracyData_Yesterday}"></h2>
					</div>
				</div>





			</main>
			<!-- /main -->

		</div>
		<!-- /content -->




	</div>
	<!-- /#wrapper -->








	<!-- Core javascripts -->
	<script src="/assets/js/core.min.js"></script>
	<script src="/assets/js/vendor_bundle.min.js"></script>
	<script src="https://app.freshlifefloral.com/back-end/assets/js/blockui.js"></script>
	<script>
		window.onload = function (e) {

			let options = {
				timeZone: 'Europe/London',
				year: 'numeric',
				month: 'numeric',
				day: 'numeric',
				hour: 'numeric',
				minute: 'numeric',
				second: 'numeric',
			}, formatter = new Intl.DateTimeFormat([], options);

			document.getElementById('predictionsTimeToday').innerHTML = formatter
				.format(new Date());
			$.unblockUI();

		};
	</script>

	<!-- Your custom javascripts -->

	<script>
		//If searchByMatchID search bar is empty, API will cause break, stop empty input submission
		function validateForm() {
			var x = document.forms["searchByMatchIDForm"]["searchByMatchID"].value;
			if (x == "") {
				alert("MatchID must be filled out");
				return false;
			}

		}
	</script>

</body>

</html>