<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>GameDayTrades</title>
	<meta name="description" content="Sports betting analytic website">

	<meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- up to 10% speed up for external res -->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<!-- preloading icon font is helping to speed up a little bit -->
	<link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="assets/css/core.min.css">
	<link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">

	<!-- favicon -->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="assets/images/logo/logo.png">

	<link rel="manifest" href="assets/images/manifest/manifest.json">
	<meta name="theme-color" content="#377dff">

</head>

<body class="header-sticky header-over">

	<div id="wrapper">


		<!-- HEADER -->
		<header id="header" class="shadow-xs">


			<!-- NAVBAR -->
			<div class="container position-relative">

				<nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">

					<div class="align-items-start">

						<!-- mobile menu button : show -->
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainNav"
							aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
							<svg width="25" viewBox="0 0 20 20">
								<path
									d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z">
								</path>
								<path
									d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z">
								</path>
								<path
									d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
								</path>
								<path
									d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
								</path>
							</svg>
						</button>

						<!-- 
								Logo : height: 70px max
							-->
						<a class="navbar-brand" href="/">
							<img src="assets/images/logo/logo.png" width="85" height="70" alt="...">
							<img src="assets/images/logo/logo.png" width="85" height="70" alt="...">
						</a>

					</div>




					<!-- Menu -->
					<div class="collapse navbar-collapse navbar-animate-fadein justify-content-end" id="navbarMainNav">


						<!-- MOBILE MENU NAVBAR -->
						<div class="navbar-xs d-none"><!-- .sticky-top -->

							<!-- mobile menu button : close -->
							<button class="navbar-toggler pt-0" type="button" data-toggle="collapse"
								data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<svg width="20" viewBox="0 0 20 20">
									<path
										d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
									</path>
								</svg>
							</button>

							<!-- 
									Mobile Menu Logo 
									Logo : height: 70px max
								-->
							<a class="navbar-brand" href="index.html">
								<img src="assets/images/logo/logo.png" width="85" height="70" alt="...">
							</a>

						</div>
						<!-- /MOBILE MENU NAVBAR -->



						<!-- NAVIGATION -->
						<ul class="navbar-nav fs--14">

							<!-- home -->
							<li class="nav-item">

								<a class="nav-link scroll-to" href="#wrapper">
									HOME
								</a>

							</li>

							<!-- about -->
							<li class="nav-item">

								<a class="nav-link scroll-to" href="#section_about">
									ABOUT US
								</a>

							</li>

							<!-- about -->
							<li class="nav-item">

								<a class="nav-link scroll-to" href="#section_example">
									STATS
								</a>

							</li>


							<!-- about -->
							<li class="nav-item">

								<a class="nav-link scroll-to" href="#section_contact">
									CONTACT US
								</a>

							</li>


							<!-- social : mobile only (d-block d-sm-none)-->
							<li class="nav-item d-block d-sm-none text-center mb-4">

								<h3 class="h6 text-muted">Follow Us</h3>

								<a href="#!"
									class="btn btn-sm btn-facebook transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-facebook"></i>
								</a>

								<a href="#!"
									class="btn btn-sm btn-twitter transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-twitter"></i>
								</a>

								<a href="#!"
									class="btn btn-sm btn-linkedin transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-linkedin"></i>
								</a>

								<a href="#!"
									class="btn btn-sm btn-youtube transition-hover-top mb-2 rounded-circle text-white"
									rel="noopener">
									<i class="fi fi-social-youtube"></i>
								</a>

							</li>





						</ul>
						<!-- /NAVIGATION -->


					</div>





					<!-- OPTIONS -->
					<ul class="list-inline list-unstyled mb-0 d-flex align-items-end">

						<li class="list-inline-item mx-1">

							<a th:href="@{loginpage}" aria-label="Account Options"
								class="btn btn-sm btn-primary text-white " aria-expanded="false" aria-haspopup="true">
								<svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
									class="bi bi-person-circle" viewBox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
									<path fill-rule="evenodd"
										d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
									</path>
								</svg>
								<span class="ml-2">Login</span>
							</a>





						</li>

					</ul>
					<!-- /OPTIONS -->



				</nav>

			</div>
			<!-- /NAVBAR -->

		</header>
		<!-- /HEADER -->




		<!-- INTRO -->
		<section class="bg-light position-relative overflow-hidden overlay-dark overlay-opacity-8 bg-cover jarallax"
			style="background-image:url('demo.files/images/unsplash/covers/soccer.jpg')">

			<div class="container position-relative z-index-2 py-7 d-middle">

				<div class="text-center text-white py-7 p-0-xs" data-aos="fade-in" data-aos-delay="0"
					data-aos-offset="0">

					<!-- main title -->
					<h1 class="h1-xs display-4 mb-0 font-weight-light">
						<b class="text-success">Game Day Trades</b> <span class="typed"
							data-typed-string="Informative|Accurate|Easy" data-typed-speed-forward="80"
							data-typed-speed-back="40" data-typed-back-delay="700" data-typed-loop-times="infinite"
							data-typed-smart-backspace="true" data-typed-shuffle="false" data-typed-cursor="|"></span>
					</h1>

					<!-- slogan -->
					<p class="h4 h5-xs font-weight-normal mb-0">
						Sports betting analytic &amp; Interactive Website.
					</p>

					<div class="clearfix mt-5">
						<a href="#section_example"
							class="btn btn-lg btn-success btn-pill transition-hover-top bg-gradient-success b-0 d-block-xs">
							MAKE WINNING BETS NOW!
						</a>
					</div>

				</div>

			</div>

			<div class="absolute-full w-100 overflow-hidden opacity-5 z-index-1">
				<img class="img-fluid" width="2000" height="2000" src="assets/images/masks/shape-line-lense.svg"
					alt="...">
			</div>

			<!-- v shape : .bg-light, .shape-xs (remove .shape-xs for .h-100vh container) -->
			<div class="shape-v shape-xs bottom-0"></div>

		</section>
		<!-- /INTRO -->



		<!-- COUNTER -->
		<section class="pt-5 pb-0 border-bottom">
			<div class="container">

				<div class="row col-border text-center text-muted">

					<div class="col-6 col-md-3 mb-5">

						<div class="h1">
							<span data-toggle="count" data-count-from="0" data-count-to="36" data-count-duration="2500"
								data-count-decimals="0">0</span><span class="font-weight-light">Hours</span>
						</div>

						<h3 class="h6 m-0">PREDICTIONS IN ADVANCE</h3>

					</div>


					<div class="col-6 col-md-3 mb-5">

						<div class="h1">
							<span data-toggle="count" data-count-from="0" data-count-to="66" data-count-duration="2500"
								data-count-decimals="0">0</span><span class="font-weight-light">%</span>
						</div>

						<h3 class="h6 m-0">PREDICTION ACCURACY OVER LAST 30 DAYS</h3>

					</div>


					<div class="col-6 col-md-3 mb-5">

						<div class="h1">
							<span data-toggle="count" data-count-from="0" data-count-to="6" data-count-duration="2500"
								data-count-decimals="0">0</span><span class="font-weight-light"></span>
						</div>

						<h3 class="h6 m-0">AVAILABLE FEDERATIONS</h3>

					</div>


					<div class="col-6 col-md-3 mb-5">

						<div class="h1">
							<span data-toggle="count" data-count-from="0" data-count-to="5" data-count-duration="1500"
								data-count-decimals="0">0</span><span class="font-weight-light">/5</span>
						</div>

						<h3 class="h6 m-0">RATED</h3>

					</div>

				</div>

			</div>
		</section>
		<!-- /COUNTER -->







		<!-- block : about -->
		<section id="section_about">
			<div class="container">

				<div class="row d-flex flex-wrap align-items-center">

					<div class="col-12 col-lg-6 mb-5">

						<p class="font-weight-light fs--16 text-primary">
							INFORMATIVE. ACCURATE. EASY
						</p>
						<h2 class="h1 font-weight-light mb-4">
							Welcome to <span class="text-primary font-weight-medium">GameDayTrades</span>,
							<span class="font-weight-medium">Sport Betting Analysis Website</span>!
						</h2>


						<p class="lead mb-5">
							The key to successful sports betting is here. Maximize your winnings with our data-driven
							insights.
						</p>

					</div>

					<div class="col-12 col-lg-6 mb-5">

						<div class="row gutters-md gutters-xs--xs">

							<div class="col-6 jarallax" data-jarallax-element="-20">

								<div
									class="bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-primary-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
									<i class="fi fi-lightbulb fs--45"></i>
									<h3 class="h5 py-3">Intelligent</h3>
									<p>
										Bet smarter with our comprehensive sports statistics.
									</p>
								</div>

								<div
									class="bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-warning-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
									<i class="fi fi-graph fs--45"></i>
									<h3 class="h5 py-3">Statistics</h3>
									<p>
										Get ahead of the game with our sports betting statistics.
									</p>
								</div>

							</div>

							<div class="col-6 jarallax" data-jarallax-element="30">

								<div
									class="bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-success-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
									<i class="fi fi-brain fs--45"></i>
									<h3 class="h5 py-3">All-in-one</h3>
									<p>
										The ultimate sports betting resource.
									</p>
								</div>

								<div
									class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-danger-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
									<i class="fi fi-umbrella fs--45"></i>
									<h3 class="h5 py-3">Up-to-date</h3>
									<p>
										Get the latest football headlines that could change your bet.
								</div>

							</div>

						</div>

					</div>

				</div>

		</section>


		<!-- example of data that can be seen -->
		<section id="section_example">
			<div class=" col-border text-center text-muted">
				<h2 class="h1 font-weight-light mb-4">
					Here's a sample of what you can expect to see at <span
						class="text-primary font-weight-medium">GameDayTrades</span>! <br>
					<span class="font-weight-medium">Stats, odds, predictions, news!</span>
				</h2>
			</div>
			<div class="row">

				<div class="col-12 col-lg-6 my-5">
					<div class="m-4  p-4 mb-4 h-100 bg-white shadow-md rounded ">
						<h3 class="m-4 h5 mb-4 font-weight-normal text-center ">
							<span class="d-block-xs">Matches Available Today!</span>
						</h3>

						<table class="table table-align-middle mb-0" role="grid" id="matchListTable">
							<thead>
								<tr>

									<th class="fw-normal" style="width:20%">Match ID</th>
									<th class="fw-bold" style="width:25%">Home Team</th>
									<th class="fw-bold" style="width:25%">Away Team</th>
									<th class="fw-bold" style="width:10px">Federation</th>
									<th class="fw-bold" style="width:10px">Prediction</th>
								</tr>
							</thead>
							<tbody id="checkall-list">

								<!-- item -->
								<tr th:each="match:${matchList}">
									<td class="fs--15" th:text="${match.id}">
										<span class="d-block fw-bold smaller fw-bold text-purple">
											<i class="bi bi-exclamation-circle-fill"></i> Status: <span
												th:text="${match.status}"></span>
										</span>

									</td>
									<td class="fs--15" th:text="${match.homeTeam}">
									</td>
									<td class="fs--15" th:text="${match.awayTeam}"></td>
									<td class="fs--15" th:text="${match.federation}">
										<span class="d-block smaller fw-bold text-dark"
											th:text="${match.competitionCluster}">
										</span>
									</td>

									<td class="fs--15 text-center">
										<font color="#82703d"> <i class="fi fi-loading-dots fi-spin"></i>
											Prediction:
											<span>Sign Up to Find Out!</span>
										</font>
									</td>

						</table>
						<h3 class="h5 mb-4 font-weight-normal text-center">
							<span class="d-block-xs">...and more! Sign up to see full list of matches available!</span>

						</h3>
					</div>

				</div>

				<div class="col-12 col-lg-6 my-5">

					<div class="m-4 p-4 mb-4 h-100 bg-white shadow-md rounded ">
						<h2 class="h5 mb-4 font-weight-normal text-center"> A taste of the stats you can expect!
						</h2>
						<h3 class="h5 mb-4 font-weight-normal text-center m-4" th:text="${SampleMatchId}"
							name="SampleMatchId" value="SampleMatchId" id="SampleMatchIdHeader">
						</h3>
						<canvas id="head2HeadStats" class="m-4"></canvas>

					</div>

				</div>
			</div>
			<div class="container">
				<div class="m-4 h-100 bg-white shadow-md rounded text-center p-4 mb-4">
					<div id="newsAPI" class="m-4 align-items-center">
						<h3>Latest News </h3>
						<ul class="list-unstyled">
							<div id="newsHeadlines" class="text-decoration-none align-items-center">

							</div>
						</ul>
					</div>
				</div>
			</div>


			<!-- /testimonials -->

	</div>
	</section>
	<!-- /block : about -->





	<!-- 

				SUBSCRIBE

				Class Utils (top/bottom borders, if needed) 

					.border-top 
					.border-bottom

			-->
	<section class="py-2 bg-light mb-1">
		<div class="container">

			<div class="row">

				<div class="col-10 mx-auto col-lg-8 py-5 pb-0-xs text-center-md text-center-xs">
					<h3 class="m-0">Subscribe and follow the <span class="text-danger">best suggest</span>!</h3>
					<p class="m-0">Whether you are a rookie or a veteran of sports betting, here are some tips that you
						can build into your game plan</p>
				</div>

				<div class="col-10 mx-auto col-lg-4 py-4">

					<form novalidate="" method="get" action="/"
						class="bs-validate py-3 mt-1 input-group-over form-control-pill">

						<input required=""
							class="form-control form-control-lg font-weight-light text-center-md text-center-xs"
							name="subscriber_email" type="email" value="" placeholder="email address..."
							aria-label="email address...">

						<button aria-label="subscribe" type="submit" class="btn bg-transparent shadow-none">
							<i class="fi fi-send fs--18"></i>
						</button>

					</form>

				</div>

			</div>

		</div>
	</section>
	<!-- /SUBSCRIBE -->



	<!--	 block : cards -->
	<!--	<section class="bg-light">-->
	<!--		<div class="container">-->

	<!--			<div class="row">-->


	<!--				<div class="col-12 col-sm-6 col-lg-3">-->

	<!--					<div-->
	<!--						class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">-->
	<!--						<h3 class="h6 py-3">WHAT WE DO</h3>-->
	<!--						<p>-->
	<!--							Decide how much money you’re going to bet with and how much money you are comfortable-->
	<!--							losing. If you lose it, it’s gone and you’re done. Don’t try to win it back. </p>-->
	<!--					</div>-->

	<!--				</div>-->


	<!--				<div class="col-12 col-sm-6 col-lg-3">-->

	<!--					<div-->
	<!--						class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">-->
	<!--						<h3 class="h6 py-3">WHERE WE WORK</h3>-->
	<!--						<p>-->
	<!--							Decide how much money you’re going to bet with and how much money you are comfortable-->
	<!--							losing. If you lose it, it’s gone and you’re done. Don’t try to win it back. </p>-->
	<!--					</div>-->

	<!--				</div>-->


	<!--				<div class="col-12 col-sm-6 col-lg-3">-->

	<!--					<div-->
	<!--						class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">-->
	<!--						<h3 class="h6 py-3">SMARTY LAWYERS</h3>-->
	<!--						<p>-->
	<!--							Decide how much money you’re going to bet with and how much money you are comfortable-->
	<!--							losing. If you lose it, it’s gone and you’re done. Don’t try to win it back. </p>-->
	<!--					</div>-->

	<!--				</div>-->


	<!--				<div class="col-12 col-sm-6 col-lg-3">-->

	<!--					<div-->
	<!--						class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">-->
	<!--						<h3 class="h6 py-3">FUTURE VIEW</h3>-->
	<!--						<p>-->
	<!--							Decide how much money you’re going to bet with and how much money you are comfortable-->
	<!--							losing. If you lose it, it’s gone and you’re done. Don’t try to win it back. </p>-->
	<!--					</div>-->

	<!--				</div>-->

	<!--			</div>-->

	<!--		</div>-->
	<!--	</section>-->
	<!--	 /block : cards -->





	<!-- block : contact -->
	<section id="section_contact" class="mt-1 bg-light">
		<div class="container">

			<div class="row">

				<div class="col-12 col-lg-6 mb-5">

					<h2 class="font-weight-light mb-5">
						<span class="font-weight-medium">GameDayTrades</span> Contact!
						<small class="d-block h6">Let us know how can we help you!</small>
					</h2>


					<div class="row">

						<!-- call us -->
						<div class="col-12 col-sm-6 mb-4">
							<h3 class="font-weight-light text-primary h5 mb-4">
								Call Us
							</h3>

							<p class="m-0">
								<a href="tel:01555-88978" class="link-muted">+01 785-388-9450</a>
							</p>
							<p class="m-0">
								<a href="email:john.doe@gmail.com" class="link-muted">john.doe@gmail.com</a>
							</p>
						</div>

						<!-- address -->
						<div class="col-12 col-sm-6 mb-4">

							<h3 class="font-weight-light text-primary h5 mb-4">
								Our Address
							</h3>

							<p class="m-0">
								Road 741, No.44, New York <br>
								United States
							</p>

						</div>
					</div>



					<div class="bg-white shadow-primary-xs rounded p-2 mt-5">

						<!--
									Map
								-->
						<div class="map-leaflet h--400 w-100 rounded" data-map-tile="voyager" data-map-zoom="8"
							data-map-json='[
										{ 
											"map_lat": 40.750765,
											"map_long": -73.993428,
											"map_popup": "<b>Smarty Inc.</b> <br> Road 741, No.44,<br> New York / United States <br> <a href=`tel:7853889450`>(01)-785-388-9450</a>"
										}
									]'><!-- map container--></div>

					</div>

				</div>

				<div class="col-12 col-lg-6">

					<div class="rounded bg-white shadow-xs d-flex">
						<div class="m-5 m-4-xs">

							<h2 class="h3-xs font-weight-light mb-5">
								Send us a message
							</h2>


							<!-- 
										CONTACT FORM : AJAX 

											Plugin required: SOW Ajax Forms

											In order to work as ajax form, SOW Ajax Forms should be available/enabled
											Else, SOW Form Validation plugin is used.
											If none of them are available, normal submit is used and you can remove:
												.js-ajax
												.bs-validate
												novalidate
												any data-ajax-*
												any data-error-*

											** Remove data-error-toast-* for no error toast notifications

										+++++++++++++++++++++++++++++++++++++++++++++++++++++++
										NOTE: method="GET" is used in this demo!
										Most contact form are using "POST". So change as you need!
										The URL you post the data, should also return a success message
										like the one in action="_ajax/ajax_form_test_submit.html"
										+++++++++++++++++++++++++++++++++++++++++++++++++++++++
									-->
							<form novalidate action="_ajax/ajax_form_test_submit.html" method="GET"
								data-ajax-container="#ajax_dd_contact_response_container" data-ajax-update-url="false"
								data-ajax-show-loading-icon="true" data-ajax-callback-function=""
								data-error-scroll-up="true"
								data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> Please, complete all required fields!"
								data-error-toast-delay="2000" data-error-toast-position="bottom-center"
								class="bs-validate js-ajax">


								<!-- 1. 
											optional, hidden action for your backend

											PHP Basic Example
											if($_POST['action'] == 'contact_form_submit') {
												... send message
											}
										-->
								<input type="hidden" name="action" value="contact_form_submit" tabindex="-1">
								<!-- -->


								<!-- 2. 
											A very small optional trick (using .hide class instead of type="hidden") for some low spam robots. 
											If this is not empty, the process should stop. A normal user/visitor should not be able to see this field.

											PHP Basic Example
											if($_POST['norobot'] != '') {
												exit;
											}
										-->
								<input type="text" name="norobot" value="" class="hide" tabindex="-1">
								<!-- -->

								<div id="ajax_dd_contact_response_container"><!-- ajax response container --></div>

								<div class="form-label-group mb-3">
									<input required placeholder="Name" id="contact_name" type="text"
										class="form-control form-control-pill">
									<label for="contact_name">Name</label>
								</div>

								<div class="form-label-group mb-3">
									<input required placeholder="Email" id="contact_email" type="email"
										class="form-control form-control-pill">
									<label for="contact_email">Email</label>
								</div>

								<div class="form-label-group mb-3">
									<input required placeholder="Phone" id="contact_phone" type="text"
										class="form-control form-control-pill">
									<label for="contact_phone">Phone</label>
								</div>

								<div class="form-label-group mb-4">
									<textarea required placeholder="Message" id="contact_message"
										class="form-control rounded-xl" rows="3"></textarea>
									<label for="contact_message">Message</label>
								</div>

								<!-- GDPR CONSENT -->
								<div class="clearfix bg-light position-relative rounded p-4 mb-4">

									<span class="text-muted fs--12 d-block position-absolute bottom-0 end-0 m-2">
										GAME DAY TRADES
									</span>

									<label class="form-checkbox form-checkbox-primary">
										<input required type="checkbox" name="checkbox">
										<i></i>
										<span>
											I consent that my data is being stored in
											line with the guidelines set out in
											<a href="#" target="_blank">Privacy Policy</a>.
										</span>
									</label>

								</div>
								<!-- /GDPR CONSENT -->


								<button type="submit" class="btn btn-secondary btn-pill btn-block">
									Send Message
								</button>

							</form>
							<!-- /CONTACT FORM : AJAX -->


						</div>
					</div>

				</div>

			</div>

		</div>
	</section>
	<!-- /block : contact -->





	<!-- Footer -->
	<footer id="footer" class="footer-dark">

		<!-- expandable : hidden by default -->
		<div id="footer_expand" class="collapse">
			<div class="container py-5">

				<h3 class="fs--15 text-muted text-center-xs">SPY US! WE'VE GOT SECRETS!</h3>

				<ul class="mt--30 mb-0 breadcrumb bg-transparent p-0 block-xs">
					<li class="breadcrumb-item"><a href="#">Contact</a></li>
					<li class="breadcrumb-item"><a href="#">About Us</a></li>
					<li class="breadcrumb-item"><a href="#">Terms &amp; Conditions</a></li>
					<li class="breadcrumb-item"><a href="#">GDPR &amp; Cookies</a></li>
				</ul>

				<div class="text-muted mt--30">
					<p>
						Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries
						for previewing layouts and visual mockups.
						<b> Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
							industries for previewing layouts and visual mockups.

					</p>
				</div>

			</div>
		</div>
		<!-- /expandable : hidden by default -->


		<div class="bg-distinct py-3 clearfix">

			<div class="container clearfix font-weight-light text-center-xs position-relative">


				<div class="clearfix float-start float-none-xs">

					<!-- badge expand info -->
					<span id="footer_expand_badge"
						class="badge badge-secondary badge-pill p-2 position-absolute start-0 mt--n50 mx-2 position-relative fs--13 font-weight-normal">
						<i class="arrow arrow-bottom border-secondary mx-1 mb--5"></i>
						click to expand
					</span>


					<!-- footer expand toggler -->
					<a href="#footer_expand" data-toggle-target="#footer_expand_badge"
						data-toggle-container-class="hide-force" data-offset="-100%" data-speed="600"
						class="scroll-to btn-toggle btn float-start overlay-dark overlay-opacity-2 overflow-hidden text-decoration-none px-3 rounded mt--n8 mb--n8"
						data-toggle="collapse" rel="noopener" aria-expanded="false">

						<span class="group-icon">
							<i class="fi fi-menu-dots fs--18"></i>
							<i class="fi fi-close fs--18"></i>
						</span>

					</a>

					<!-- copyright -->
					<div class="fs--14 py-2 float-start float-none-xs m-0-xs">
						&copy; GameDayTrades.
					</div>

					<div class="clearfix mt-2 d-block d-sm-none"><!-- mobile spacer --></div>
				</div>


				<!-- credit card -->
				<ul class="list-inline mb-0 mt-2 float-end float-none-xs">
					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/visa.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="visa credit card icon">
					</li>

					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/mastercard.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="mastercard credit card icon">
					</li>

					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/discover.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="discover credit card icon">
					</li>

					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/amazon.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="amazon credit card icon">
					</li>

					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/paypal.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="paypal credit card icon">
					</li>

					<li class="list-inline-item m-0">
						<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/skrill.svg"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="skrill credit card icon">
					</li>

					<!-- more vendors on assets/images/credit_card/ -->

				</ul>
				<!-- /credit card -->

			</div>

		</div>

	</footer>
	<!-- /Footer -->


	</div><!-- /#wrapper -->


	<!-- vendor loaded by core -->
	<script async src="assets/js/core.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script th:inline="javascript">

		let apiOverallLabels = [];
		let apiOverallStats = [];

		const ctxOverall = document.getElementById('head2HeadStats');

		var ctxOverallChart = new Chart(ctxOverall, {
			type: 'bar',
			data: {
				labels: apiOverallLabels,
				datasets: [{
					label: apiOverallLabels,
					data: apiOverallStats,
					borderWidth: 2,
					borderColor: '#000000',
					backgroundColor: "#AAFF00",

				}]
			},
			options: {
				tooltips: {
					mode: 'index',
				},
				scales: {
					y: {
						beginAtZero: true,
						ticks: {
							stepSize: 1,
						}
					}
				}
			}
		});
		dataToGraph();

		//Listener event to get matchID from user
		//	document.getElementById('matchDetailsByID_button').addEventListener('submit', dataToGraph(event));

		async function dataToGraph(event) {
			if (event) {
				event.preventDefault();
			}

			let SampleMatchId = document.getElementById("SampleMatchIdHeader").innerHTML

			//alert("dataToGraph " + matchID);
			// give feedback to user that data is loading in background
			ctxOverallChart.data.datasets[0].label = `loading ... ${SampleMatchId}`;

			ctxOverallChart.update();


			// set all variables to empty again

			let apiOverallLabels = [];
			let apiOverallStats = [];

			//fetch API data

			const options = {
				method: 'GET',
				headers: {
					'X-RapidAPI-Key': 'f3f0a7542fmsh81ac85922b3edc9p174165jsn99009b470c53',
					'X-RapidAPI-Host': 'football-prediction-api.p.rapidapi.com'
				}
			};



			//alert(`https://football-prediction-api.p.rapidapi.com/api/v2/head-to-head/${matchID}?limit=5`);
			const response = await fetch(`https://football-prediction-api.p.rapidapi.com/api/v2/head-to-head/${SampleMatchId}?limit=10`, options)

			const result = await response.json();

			//If user enters an incorrect matchID they will cause the JSON to respond with "id: 'No data for match_id 819 found.'" key for results.errors
			//This code will catch that error if it happens and ask user to try again

			if (result.errors) {
				window.alert("That is not a valid MatchID. Refresh page and try again!");
				console.log(result.errors);
			}

			apiOverallStatsData = result.data.stats.overall;

			var key = "over_05";
			var key1 = "over_25";
			var key2 = "over_15";
			var key3 = "over_35";

			delete apiOverallStatsData[key];
			delete apiOverallStatsData[key1];
			delete apiOverallStatsData[key2];
			delete apiOverallStatsData[key3];

			ctxOverallChart.data.dataset = apiOverallStatsData;

			document.getElementById('head2HeadStats').style.display = "block";

			ctxOverallChart.data.datasets[0].label = result.data.stats.away_team.team_name + " Vs. " + result.data.stats.home_team.team_name;
			ctxOverallChart.data.datasets[0].data = apiOverallStatsData;
			ctxOverallChart.update();

		};


	</script>

	<script>
		//fetch API data
		async function getNews() {
			const url = 'https://football-news-aggregator-live.p.rapidapi.com/news/90mins';
			const options = {
				method: 'GET',
				headers: {
					'X-RapidAPI-Key': 'f3f0a7542fmsh81ac85922b3edc9p174165jsn99009b470c53',
					'X-RapidAPI-Host': 'football-news-aggregator-live.p.rapidapi.com'
				}
			};

			try {
				const response = await fetch(url, options);
				const result = await response.json();
				console.log(result);

				let sourceLink = result[0].url;
				let headLine = result[0].title;
				let newsImg = result[0].news_img;

				//Add results to news card
				const _90minsDiv = document.createElement("div");

				//Add Headling
				const _90minsHeadline = document.createElement("li");
				_90minsHeadline.textContent = headLine;
				_90minsDiv.appendChild(_90minsHeadline);

				//Add breakline
				const _90minsBreakline = document.createElement('p');
				_90minsBreakline.textContent = " \n ";
				_90minsDiv.appendChild(_90minsBreakline);


				//Add image
				const _90minsImg = document.createElement('img');
				_90minsImg.src = newsImg;

				//Add source link to image of news story
				const _90minsLink = document.createElement('a');
				_90minsLink.href = sourceLink;
				_90minsLink.appendChild(_90minsImg);
				_90minsDiv.appendChild(_90minsLink)

				_90minsDiv.appendChild(_90minsBreakline);

				const currentDiv = document.getElementById("newsHeadlines");
				currentDiv.parentNode.insertBefore(_90minsDiv, currentDiv);


			} catch (error) {
				console.error(error);
			}

		};
		getNews()
	</script>


</body>

</html>