<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>GameDayTrades</title>
		<meta name="description" content="Sports betting analytic website">

        <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- up to 10% speed up for external res -->
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <!-- preloading icon font is helping to speed up a little bit -->
        <link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

        <link rel="stylesheet" href="assets/css/core.min.css">
        <link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">

		<!-- favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon" href="assets/images/logo/logo.png">

		<link rel="manifest" href="assets/images/manifest/manifest.json">
		<meta name="theme-color" content="#377dff">

	</head>

	<body class="header-sticky header-over">

		<div id="wrapper">


			<!-- HEADER -->
			<header id="header" class="shadow-xs">


				<!-- NAVBAR -->
				<div class="container position-relative">

					<nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">

						<div class="align-items-start">

							<!-- mobile menu button : show -->
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
								<svg width="25" viewBox="0 0 20 20">
									<path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
									<path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
									<path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z"></path>
									<path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z"></path>
								</svg>
							</button>

							<!-- 
								Logo : height: 70px max
							-->
							<a class="navbar-brand" href="index.html">
								<img src="assets/images/logo/logo.png" width="90" height="70" alt="...">
								<img src="assets/images/logo/logo.png" width="90" height="70" alt="...">
							</a>

						</div>




						<!-- Menu -->
						<div class="collapse navbar-collapse navbar-animate-fadein justify-content-end" id="navbarMainNav">


							<!-- MOBILE MENU NAVBAR -->
							<div class="navbar-xs d-none"><!-- .sticky-top -->

								<!-- mobile menu button : close -->
								<button class="navbar-toggler pt-0" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
									<svg width="20" viewBox="0 0 20 20">
										<path d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z"></path>
									</svg>
								</button>

								<!-- 
									Mobile Menu Logo 
									Logo : height: 70px max
								-->
								<a class="navbar-brand" href="index.html">
									<img src="assets/images/logo/logo_dark.svg" width="110" height="70" alt="...">
								</a>

							</div>
							<!-- /MOBILE MENU NAVBAR -->



							<!-- NAVIGATION -->
							<ul class="navbar-nav fs--14">

								<!-- home -->
								<li class="nav-item">

									<a class="nav-link scroll-to" href="#wrapper">
										HOME
									</a>

								</li>

								<!-- about -->
								<li class="nav-item">

									<a class="nav-link scroll-to" href="#section_about">
										ABOUT US
									</a>

								</li>

								<!-- about -->
								<li class="nav-item">

									<a class="nav-link scroll-to" href="#section_pricing">
										STAT
									</a>

								</li>


								<!-- about -->
								<li class="nav-item">

									<a class="nav-link scroll-to" href="#section_contact">
										CONTACT US
									</a>

								</li>


								<!-- social : mobile only (d-block d-sm-none)-->
								<li class="nav-item d-block d-sm-none text-center mb-4">

									<h3 class="h6 text-muted">Follow Us</h3>

									<a href="#!" class="btn btn-sm btn-facebook transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-facebook"></i> 
									</a>

									<a href="#!" class="btn btn-sm btn-twitter transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-twitter"></i> 
									</a>

									<a href="#!" class="btn btn-sm btn-linkedin transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-linkedin"></i> 
									</a>

									<a href="#!" class="btn btn-sm btn-youtube transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-youtube"></i> 
									</a>

								</li>


							</ul>
							<!-- /NAVIGATION -->


						</div>





						<!-- OPTIONS -->
						<ul class="list-inline list-unstyled mb-0 d-flex align-items-end">


						</ul>
						<!-- /OPTIONS -->



					</nav>

				</div>
				<!-- /NAVBAR -->

			</header>
			<!-- /HEADER -->




			<!-- INTRO -->
			<section class="bg-light position-relative overflow-hidden overlay-dark overlay-opacity-8 bg-cover jarallax" 
			style="background-image:url('demo.files/images/unsplash/covers/soccer.jpg')">
				
				<div class="container position-relative z-index-2 py-7 d-middle"> 
						
					<div class="text-center text-white py-7 p-0-xs" data-aos="fade-in" data-aos-delay="0" data-aos-offset="0">

						<!-- main title -->
						<h1 class="h1-xs display-4 mb-0 font-weight-light">
							<b class="text-success">Awesome Group</b> <span class="typed" 
												data-typed-string="Landing|Modular|Flexible"
												data-typed-speed-forward="80" 
												data-typed-speed-back="40" 
												data-typed-back-delay="700" 
												data-typed-loop-times="infinite" 
												data-typed-smart-backspace="true" 
												data-typed-shuffle="false" 
												data-typed-cursor="|"></span>
						</h1>
						
						<!-- slogan -->
						<p class="h4 h5-xs font-weight-normal mb-0">
							Sports betting analytic  &amp; Interactive Website.
						</p>

						<div class="clearfix mt-5">
							<a href="#!" class="btn btn-lg btn-success btn-pill transition-hover-top bg-gradient-success b-0 d-block-xs">
								START A NAVIGATION
							</a>
							
							<span class="px-3 d-block-xs py-3"> OR </span>
							
							<a href="#!" class="btn btn-lg btn-danger btn-pill transition-hover-top bg-gradient-danger b-0 d-block-xs">
								START FOR A SUBSCRIPTION
							</a>
						</div>

					</div>

				</div>

				<div class="absolute-full w-100 overflow-hidden opacity-5 z-index-1">
					<img class="img-fluid" width="2000" height="2000" src="assets/images/masks/shape-line-lense.svg" alt="...">
				</div>

				<!-- v shape : .bg-light, .shape-xs (remove .shape-xs for .h-100vh container) -->
				<div class="shape-v shape-xs bottom-0"></div>

			</section>	
			<!-- /INTRO -->



			<!-- COUNTER -->
			<section class="pt-5 pb-0 border-bottom">
				<div class="container">

					<div class="row col-border text-center text-muted">
						
						<div class="col-6 col-md-3 mb-5">

							<div class="h1">
								<span data-toggle="count" 
									data-count-from="0" 
									data-count-to="7000" 
									data-count-duration="2500" 
									data-count-decimals="0">0</span><span class="font-weight-light">+</span>
							</div>
							
							<h3 class="h6 m-0">TRUSTED VISITORS</h3>

						</div>


						<div class="col-6 col-md-3 mb-5">

							<div class="h1">
								<span data-toggle="count" 
									data-count-from="0" 
									data-count-to="100" 
									data-count-duration="2500" 
									data-count-decimals="0">0</span><span class="font-weight-light">%</span>
							</div>
							
							<h3 class="h6 m-0">FREE UPDATES</h3>

						</div>


						<div class="col-6 col-md-3 mb-5">

							<div class="h1">
								<span data-toggle="count" 
									data-count-from="0" 
									data-count-to="100" 
									data-count-duration="2500" 
									data-count-decimals="0">0</span><span class="font-weight-light">%</span>
							</div>
							
							<h3 class="h6 m-0">UPCOMING FEATURES</h3>

						</div>


						<div class="col-6 col-md-3 mb-5">

							<div class="h1">
								<span data-toggle="count" 
									data-count-from="0" 
									data-count-to="5" 
									data-count-duration="1500" 
									data-count-decimals="0">0</span><span class="font-weight-light">/5</span>
							</div>
							
							<h3 class="h6 m-0">RATED</h3>

						</div>

					</div>

				</div>
			</section>
			<!-- /COUNTER -->



			<!-- block : pricing -->
			<section id="section_pricing">
				<div class="container">


					<!-- Billing Switcher -->
					<div class="d-flex justify-content-center p-3 mb-3">
						<span class="text-gray-600">Monthly Stat</span>

						<label class="form-switch form-switch-pill form-switch-primary m-0 mx-3">
							<input type="checkbox" value="1" checked data-count-target=".pricetable-count">
							<i></i>
						</label>

						<span class="text-gray-600">Annual Stat</span>
					</div>
					<!-- /Billing Switcher -->


					<!-- mobile swipe info -->
					<div class="d-block d-md-none position-relative bg-theme-color-light clearfix text-center p-4 text-gray-500">
						<i class="fi fi-arrow-left-slim float-start"></i>
						<i class="fi fi-arrow-right-slim float-end"></i>
						<span class="text-gray-500">
							swipe for all
						</span>
						<i class="arrow arrow-lg arrow-bottom arrow-center border-theme-color-light"></i>
					</div>
					<!-- /mobile swipe info -->



					<div class="swiper-container px-5 p-0-xs"
						data-swiper='{
							"autoplay": false,
							"slidesPerView": 3,
							"spaceBetween": 30,
							"breakpoints": {
								"1200": { "slidesPerView": "3" },
								"768": { "slidesPerView": "2" },
								"0": 	{ "slidesPerView": "1" }
							}
						}'>
						<div class="swiper-wrapper py-5">

							<div class="swiper-slide">

								<div class="bg-white rounded-xl p-5 m-4-xs shadow-md text-center">
									<h3 class="h4">
										<span class="fs--18 font-weight-normal">-</span>
										<span class="pricetable-count display-4 font-weight-medium"
											data-toggle="count" 
											data-count-decimals="" 
											data-count-from="0" 
											data-count-to="29" 
											data-count-duration="1000"

											data-count-toggle='[
												{"from":"0", "to":"29", "duration":800},
												{"from":"29", "to":"39", "duration":800}
											]'>29</span>
										<span class="fs--18 font-weight-normal">/stat</span>
									</h3>

									<p class="badge badge-light badge-pill fs--20 font-weight-normal px-3 py-2 mb-5">
										Startup
									</p>

									<ul class="list-unstyled mb-5">
										<li class="list-item py-1">Backend Included</li>
										<li class="list-item py-1">Marketing for 3 months</li>
										<li class="list-item py-1">Hosting included</li>
										<li class="list-item py-1">Stat 1</li>
									</ul>

									<a href="#!" class="btn btn-block btn-pill btn-outline-secondary">
										Join Startup
									</a>

								</div>

							</div>

							<div class="swiper-slide">

								<div class="bg-white rounded-xl p-5 m-4-xs shadow-md text-center">
									<h3 class="h4">
										<span class="fs--18 font-weight-normal">*</span>
										<span class="pricetable-count display-4 font-weight-medium"
											data-toggle="count" 
											data-count-decimals="" 
											data-count-from="0" 
											data-count-to="39" 
											data-count-duration="1000"

											data-count-toggle='[
												{"from":"0", "to":"39", "duration":800},
												{"from":"39", "to":"49", "duration":800}
											]'>39</span>
										<span class="fs--18 font-weight-normal">/stat</span>
									</h3>

									<p class="badge badge-danger badge-soft badge-pill fs--20 font-weight-normal px-3 py-2 mb-5">
										Stat
									</p>

									<ul class="list-unstyled mb-5">
										<li class="list-item py-1">Analysis</li>
										<li class="list-item py-1">Sport Betting Analysis</li>
										<li class="list-item py-1">Betting</li>
										<li class="list-item py-1">Sport Betting Analysis</li>
									</ul>

									<a href="#!" class="btn btn-block btn-pill btn-danger bg-gradient-danger">
										Join Business
									</a>

								</div>

							</div>

							<div class="swiper-slide">

								<div class="bg-white rounded-xl p-5 m-4-xs shadow-md text-center">
									<h3 class="h4">
										<span class="fs--18 font-weight-normal">-</span>
										<span class="pricetable-count display-4 font-weight-medium"
											data-toggle="count" 
											data-count-decimals="" 
											data-count-from="0" 
											data-count-to="119" 
											data-count-duration="1000"

											data-count-toggle='[
												{"from":"0", "to":"119", "duration":800},
												{"from":"119", "to":"129", "duration":800}
											]'>119</span>
										<span class="fs--18 font-weight-normal">/mo</span>
									</h3>

									<p class="badge badge-light badge-pill fs--20 font-weight-normal px-3 py-2 mb-5">
										Enterprise
									</p>

									<ul class="list-unstyled mb-5">
											<li class="list-item py-1">Analysis</li>
										<li class="list-item py-1">Sport Betting Analysis</li>
										<li class="list-item py-1">Betting</li>
										<li class="list-item py-1">Sport Betting Analysis</li>
									</ul>

									<a href="#!" class="btn btn-block btn-pill btn-outline-secondary">
										Join Us
									</a>

								</div>

							</div>

						</div>
					</div>

				</div>
			</section>
			<!-- /block : pricing -->





			<!-- BAR BRANDS -->
			<section class="p-0 bg-transparent position-relative z-index-2">
				<div class="container">
					
					<div class="bg-white shadow-primary-xs rounded pt-4 pb-4">

						<!-- Billing Switcher -->
						<div class="d-flex justify-content-center px-5">

					<div class="row">

						<div class="col-4 col-md-2 py-3" data-aos="fade-in" data-aos-delay="150" data-aos-offset="0">
							<img width="140" height="50" class="img-fluid opacity-4" src="demo.files/svg/vendors/vendor_airbnb.svg" alt="...">
						</div>

						<div class="col-4 col-md-2 py-3" data-aos="fade-in" data-aos-delay="200" data-aos-offset="0">
							<img width="140" height="50" class="img-fluid opacity-4" src="demo.files/svg/vendors/vendor_netflix.svg" alt="...">
						</div>

						<div class="col-4 col-md-2 py-3" data-aos="fade-in" data-aos-delay="250" data-aos-offset="0">
							<img width="140" height="50" class="img-fluid opacity-4" src="demo.files/svg/vendors/vendor_coinbase.svg" alt="...">
						</div>

						<div class="col-4 col-md-2 py-3" data-aos="fade-in" data-aos-delay="300" data-aos-offset="0">
							<img width="140" height="50" class="img-fluid opacity-4" src="demo.files/svg/vendors/vendor_instagram.svg" alt="...">
						</div>

						<div class="col-4 col-md-2 py-3" data-aos="fade-in" data-aos-delay="350" data-aos-offset="0">
							<img width="140" height="50" class="img-fluid opacity-4" src="demo.files/svg/vendors/vendor_pinterest.svg" alt="...">
						</div>

						<div class="col-4 col-md-2 py-3" data-aos="fade-in" data-aos-delay="400" data-aos-offset="0">
							<img width="140" height="50" class="img-fluid opacity-4" src="demo.files/svg/vendors/vendor_dribble.svg" alt="...">
						</div>

					</div>

						</div>
						<!-- /Billing Switcher -->

					</div>

				</div>
			</section>
			<!-- /BAR BRANDS -->





			<!-- block : about -->
			<section id="section_about">
				<div class="container">
				
					<div class="row d-flex flex-wrap align-items-center">

						<div class="col-12 col-lg-6 mb-5">

							<p class="font-weight-light fs--16 text-primary">
								MULTIPURPOSE
							</p>
							<h2 class="h1 font-weight-light mb-4">
								Welcome to <span class="text-primary font-weight-medium">GameDayTrades</span>, 
								<span class="font-weight-medium">Sport Betting Analysis Website</span>!
							</h2>


							<p class="lead mb-5">
								Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
							</p>

							<a href="contact-1.html" class="btn btn-primary btn-pill btn-soft">
								Get in touch with us
							</a>

						</div>

						<div class="col-12 col-lg-6 mb-5">

							<div class="row gutters-md gutters-xs--xs">

								<div class="col-6 jarallax" data-jarallax-element="-20">

									<div class="bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-primary-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
										<i class="fi fi-lightbulb fs--45"></i>
										<h3 class="h5 py-3">New Ideas</h3>
										<p>
										Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
								</p>
									</div>

									<div class="bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-warning-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
										<i class="fi fi-graph fs--45"></i>
										<h3 class="h5 py-3">Important 2</h3>
										<p>
										Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
								</p>
									</div>

								</div>

								<div class="col-6 jarallax" data-jarallax-element="30">

									<div class="bg-white shadow-xs rounded-xl p-4 mb-4 mb-2-xs bg-success-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
										<i class="fi fi-brain fs--45"></i>
										<h3 class="h5 py-3">Important 3</h3>
										<p>
											Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
							</p>
									</div>

									<div class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-danger-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
										<i class="fi fi-umbrella fs--45"></i>
										<h3 class="h5 py-3">Important 4</h3>
										<p>
										Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
								</p>
									</div>

								</div>

							</div>

						</div>

					</div>




					<!-- testimonials -->
					<div class="row mt-6">

						<div class="col-12 col-lg-6 my-5">

							<div class="h-100 bg-white shadow-md rounded">

								<!-- pic/avatar -->
								<span class="mt--n40 w--80 h--80 rounded-circle d-inline-block bg-light bg-cover lazy" data-background-image="demo.files/images/unsplash/team/thumb_330/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg"></span>

								<div class=" px-4 pb-5 pt-4">
									<h3 class="h5 mb-4 font-weight-normal">
										<span class="d-block-xs">Edison User 1</span>
										<span class="rating-5 float-end m-0 float-none-xs text-warning fs--14 mt-1"></span>
									</h3>
									<p class="lead">
							Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.		</p>
								</div>

							</div>

						</div>

						<div class="col-12 col-lg-6 my-5">

							<div class="h-100 bg-white shadow-md rounded">

								<!-- pic/avatar -->
								<span class="mt--n40 w--80 h--80 rounded-circle d-inline-block bg-light bg-cover lazy" data-background-image="demo.files/images/unsplash/team/thumb_330/michael-dam-mEZ3PoFGs_k-unsplash.jpg"></span>

								<div class=" px-4 pb-5 pt-4">
									<h3 class="h5 mb-4 font-weight-normal">
										<span class="d-block-xs">Catherin User 2</span>
										<span class="rating-5 float-end m-0 float-none-xs text-warning fs--14 mt-1"></span>
									</h3>
									<p class="lead">
						Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.			</p>
								</div>

							</div>

						</div>

					</div>
					<!-- /testimonials -->

				</div>
			</section>
			<!-- /block : about -->





			<!-- 

				SUBSCRIBE

				Class Utils (top/bottom borders, if needed) 

					.border-top 
					.border-bottom

			-->
			<section class="py-2 bg-light mb-1">
				<div class="container">

					<div class="row">

						<div class="col-10 mx-auto col-lg-8 py-5 pb-0-xs text-center-md text-center-xs">
							<h3 class="m-0">Subscribe and follow the <span class="text-danger">best suggest</span>!</h3>
							<p class="m-0">Whether you are a rookie or a veteran of sports betting, here are some tips that you can build into your game plan</p>
						</div>

						<div class="col-10 mx-auto col-lg-4 py-4">

							<form novalidate="" method="post" action="#subscribe_url" class="bs-validate py-3 mt-1 input-group-over form-control-pill"> 
									
								<input required="" class="form-control form-control-lg font-weight-light text-center-md text-center-xs" name="subscriber_email" type="email" value="" placeholder="email address..." aria-label="email address...">

								<button aria-label="subscribe" type="submit" class="btn bg-transparent shadow-none"> 
									<i class="fi fi-send fs--18"></i> 
								</button>

							</form>

						</div>

					</div>

				</div>
			</section>
			<!-- /SUBSCRIBE -->



			<!-- block : cards -->
			<section class="bg-light">
				<div class="container">

					<div class="row">


						<div class="col-12 col-sm-6 col-lg-3">

							<div class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">
								<h3 class="h6 py-3">WHAT WE DO</h3>
								<p>
							Decide how much money you’re going to bet with and how much money you are comfortable losing. If you lose it, it’s gone and you’re done. Don’t try to win it back.	</p>
							</div>

						</div>


						<div class="col-12 col-sm-6 col-lg-3">

							<div class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">
								<h3 class="h6 py-3">WHERE WE WORK</h3>
								<p>
							Decide how much money you’re going to bet with and how much money you are comfortable losing. If you lose it, it’s gone and you’re done. Don’t try to win it back.	</p>
							</div>

						</div>


						<div class="col-12 col-sm-6 col-lg-3">

							<div class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">
								<h3 class="h6 py-3">SMARTY LAWYERS</h3>
								<p>
						Decide how much money you’re going to bet with and how much money you are comfortable losing. If you lose it, it’s gone and you’re done. Don’t try to win it back.		</p>
							</div>

						</div>


						<div class="col-12 col-sm-6 col-lg-3">

							<div class="bg-white shadow-xs rounded p-4 mb-4 mb-2-xs transition-hover-top transition-all-ease-150 text-decoration-none text-gray-800">
								<h3 class="h6 py-3">FUTURE VIEW</h3>
								<p>
						Decide how much money you’re going to bet with and how much money you are comfortable losing. If you lose it, it’s gone and you’re done. Don’t try to win it back.		</p>
							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- /block : cards -->





			<!-- block : contact -->
			<section id="section_contact" class="mt-1 bg-light">
				<div class="container">

					<div class="row">

						<div class="col-12 col-lg-6 mb-5">

							<h2 class="font-weight-light mb-5">
								<span class="font-weight-medium">GameDayTrades</span> Contact!
								<small class="d-block h6">Let us know how can we help you!</small>
							</h2>


							<div class="row">

								<!-- call us -->
								<div class="col-12 col-sm-6 mb-4">
									<h3 class="font-weight-light text-primary h5 mb-4">
										Call Us
									</h3>

									<p class="m-0">
										<a href="tel:01555-88978" class="link-muted">+01 785-388-9450</a>
									</p>
									<p class="m-0">
										<a href="email:john.doe@gmail.com" class="link-muted">john.doe@gmail.com</a>
									</p>
								</div>

								<!-- address -->
								<div class="col-12 col-sm-6 mb-4">

									<h3 class="font-weight-light text-primary h5 mb-4">
										Our Address
									</h3>

									<p class="m-0">
										Road 741, No.44, New York <br>
										United States
									</p>

								</div>
							</div>



							<div class="bg-white shadow-primary-xs rounded p-2 mt-5">

								<!--
									Map
								-->
								<div class="map-leaflet h--400 w-100 rounded" 
									data-map-tile="voyager" 
									data-map-zoom="8" 
									data-map-json='[
										{ 
											"map_lat": 40.750765,
											"map_long": -73.993428,
											"map_popup": "<b>Smarty Inc.</b> <br> Road 741, No.44,<br> New York / United States <br> <a href=`tel:7853889450`>(01)-785-388-9450</a>"
										}
									]'><!-- map container--></div>

							</div>

						</div>

						<div class="col-12 col-lg-6">

							<div class="rounded bg-white shadow-xs d-flex">
								<div class="m-5 m-4-xs">

									<h2 class="h3-xs font-weight-light mb-5">
										Send us a message
									</h2>


									<!-- 
										CONTACT FORM : AJAX 

											Plugin required: SOW Ajax Forms

											In order to work as ajax form, SOW Ajax Forms should be available/enabled
											Else, SOW Form Validation plugin is used.
											If none of them are available, normal submit is used and you can remove:
												.js-ajax
												.bs-validate
												novalidate
												any data-ajax-*
												any data-error-*

											** Remove data-error-toast-* for no error toast notifications

										+++++++++++++++++++++++++++++++++++++++++++++++++++++++
										NOTE: method="GET" is used in this demo!
										Most contact form are using "POST". So change as you need!
										The URL you post the data, should also return a success message
										like the one in action="_ajax/ajax_form_test_submit.html"
										+++++++++++++++++++++++++++++++++++++++++++++++++++++++
									-->
									<form 	novalidate 
											action="_ajax/ajax_form_test_submit.html" 
											method="GET" 

											data-ajax-container="#ajax_dd_contact_response_container" 
											data-ajax-update-url="false" 
											data-ajax-show-loading-icon="true" 
											data-ajax-callback-function="" 
											data-error-scroll-up="true" 
											
											data-error-toast-text="<i class='fi fi-circle-spin fi-spin float-start'></i> Please, complete all required fields!" 
											data-error-toast-delay="2000" 
											data-error-toast-position="bottom-center"

											class="bs-validate js-ajax">


										<!-- 1. 
											optional, hidden action for your backend

											PHP Basic Example
											if($_POST['action'] == 'contact_form_submit') {
												... send message
											}
										-->
										<input type="hidden" name="action" value="contact_form_submit" tabindex="-1"> 
										<!-- -->


										<!-- 2. 
											A very small optional trick (using .hide class instead of type="hidden") for some low spam robots. 
											If this is not empty, the process should stop. A normal user/visitor should not be able to see this field.

											PHP Basic Example
											if($_POST['norobot'] != '') {
												exit;
											}
										-->
										<input type="text" name="norobot" value="" class="hide" tabindex="-1"> 
										<!-- -->
										
										<div id="ajax_dd_contact_response_container"><!-- ajax response container --></div>

										<div class="form-label-group mb-3">
											<input required placeholder="Name" id="contact_name" type="text" class="form-control form-control-pill">
											<label for="contact_name">Name</label>
										</div>

										<div class="form-label-group mb-3">
											<input required placeholder="Email" id="contact_email" type="email" class="form-control form-control-pill">
											<label for="contact_email">Email</label>
										</div>

										<div class="form-label-group mb-3">
											<input required placeholder="Phone" id="contact_phone" type="text" class="form-control form-control-pill">
											<label for="contact_phone">Phone</label>
										</div>

										<div class="form-label-group mb-4">
											<textarea required placeholder="Message" id="contact_message" class="form-control rounded-xl" rows="3"></textarea>
											<label for="contact_message">Message</label>
										</div>

										<!-- GDPR CONSENT -->
										<div class="clearfix bg-light position-relative rounded p-4 mb-4">

											<span class="text-muted fs--12 d-block position-absolute bottom-0 end-0 m-2">
												EU GDPR
											</span>

											<label class="form-checkbox form-checkbox-primary">
												<input required type="checkbox" name="checkbox">
												<i></i> 
												<span> 	
													I consent that my data is being stored in 
													line with the guidelines set out in  
													<a href="page-terms-and-conditions.html" target="_blank">Privacy Policy</a>. 
												</span>
											</label>

										</div>
										<!-- /GDPR CONSENT -->


										<button type="submit" class="btn btn-secondary btn-pill btn-block">
											Send Message
										</button>

									</form>
									<!-- /CONTACT FORM : AJAX -->


								</div>
							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- /block : contact -->

							



			<!-- Footer -->
			<footer id="footer" class="footer-dark">

				<!-- expandable : hidden by default -->
				<div id="footer_expand" class="collapse">
					<div class="container py-5">

						<h3 class="fs--15 text-muted text-center-xs">SPY US! WE'VE GOT SECRETS!</h3>

						<ul class="mt--30 mb-0 breadcrumb bg-transparent p-0 block-xs"> 
							<li class="breadcrumb-item"><a href="#">Contact</a></li> 
							<li class="breadcrumb-item"><a href="#">About Us</a></li> 
							<li class="breadcrumb-item"><a href="#">Terms &amp; Conditions</a></li> 
							<li class="breadcrumb-item"><a href="#">GDPR &amp; Cookies</a></li> 
						</ul>

						<div class="text-muted mt--30">
							<p>
									Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
							<b>			Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
					
							</p>
						</div>

					</div>
				</div>
				<!-- /expandable : hidden by default -->


				<div class="bg-distinct py-3 clearfix">

					<div class="container clearfix font-weight-light text-center-xs position-relative">


						<div class="clearfix float-start float-none-xs">

							<!-- badge expand info -->
							<span id="footer_expand_badge" class="badge badge-secondary badge-pill p-2 position-absolute start-0 mt--n50 mx-2 position-relative fs--13 font-weight-normal">
								<i class="arrow arrow-bottom border-secondary mx-1 mb--5"></i>
								click to expand
							</span>


							<!-- footer expand toggler -->
							<a href="#footer_expand" 
								data-toggle-target="#footer_expand_badge" 
								data-toggle-container-class="hide-force" 
								data-offset="-100%" 
								data-speed="600" 
								class="scroll-to btn-toggle btn float-start overlay-dark overlay-opacity-2 overflow-hidden text-decoration-none px-3 rounded mt--n8 mb--n8" data-toggle="collapse" rel="noopener" aria-expanded="false">
								
								<span class="group-icon">
									<i class="fi fi-menu-dots fs--18"></i>
									<i class="fi fi-close fs--18"></i>
								</span>

							</a>

							<!-- copyright -->
							<div class="fs--14 py-2 float-start float-none-xs m-0-xs">
								&copy; GameDayTrades.
							</div>

							<div class="clearfix mt-2 d-block d-sm-none"><!-- mobile spacer --></div>
						</div>


						<!-- credit card -->
						<ul class="list-inline mb-0 mt-2 float-end float-none-xs"> 
							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/visa.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="visa credit card icon">
							</li> 

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/mastercard.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard credit card icon">
							</li> 

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/discover.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="discover credit card icon">
							</li>

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/amazon.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="amazon credit card icon">
							</li>
							
							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/paypal.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="paypal credit card icon">
							</li>

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/skrill.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="skrill credit card icon">
							</li>

							<!-- more vendors on assets/images/credit_card/ -->

						</ul>
						<!-- /credit card -->

					</div>

				</div>

			</footer>
			<!-- /Footer -->


		</div><!-- /#wrapper -->


		<!-- vendor loaded by core -->
		<script async src="assets/js/core.min.js"></script>

		
	</body>
</html>