<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>GameDayTrades</title>
		<meta name="description" content="Sports betting analytic website">

        <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- up to 10% speed up for external res -->
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <!-- preloading icon font is helping to speed up a little bit -->
        <link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>

        <link rel="stylesheet" href="assets/css/core.min.css">
        <link rel="stylesheet" href="assets/css/vendor_bundle.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">

		<!-- favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="apple-touch-icon" href="assets/images/logo/logo.png">

		<link rel="manifest" href="assets/images/manifest/manifest.json">
		<meta name="theme-color" content="#377dff">

	</head>

	<body class="header-sticky">

		<div id="wrapper">


			<!-- HEADER -->
			<header id="header" class="shadow-xs">


				<!-- NAVBAR -->
				<div class="container position-relative">

					<nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">

						<div class="align-items-start">

							<!-- mobile menu button : show -->
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
								<svg width="25" viewBox="0 0 20 20">
									<path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
									<path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
									<path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z"></path>
									<path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z"></path>
								</svg>
							</button>

							<!-- 
								Logo : height: 70px max
							-->
							<a class="navbar-brand" href="index.html">
								<img src="assets/images/logo/logo.png" width="85" height="70" alt="...">
								<img src="assets/images/logo/logo.png" width="85" height="70" alt="...">
							</a>

						</div>




						<!-- Menu -->
						<div class="collapse navbar-collapse navbar-animate-fadein justify-content-end" id="navbarMainNav">


							<!-- MOBILE MENU NAVBAR -->
							<div class="navbar-xs d-none"><!-- .sticky-top -->

								<!-- mobile menu button : close -->
								<button class="navbar-toggler pt-0" type="button" data-toggle="collapse" data-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
									<svg width="20" viewBox="0 0 20 20">
										<path d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z"></path>
									</svg>
								</button>

								<!-- 
									Mobile Menu Logo 
									Logo : height: 70px max
								-->
								<a class="navbar-brand" href="index.html">
								<img src="assets/images/logo/logo.png" width="85" height="70" alt="...">
								</a>

							</div>
							<!-- /MOBILE MENU NAVBAR -->



							<!-- NAVIGATION -->
							<ul class="navbar-nav fs--14">

								<!-- home -->
								<li class="nav-item">

									<a class="nav-link" th:href="@{/}">
										HOME
									</a>

								</li>

								<!-- about -->
								<li class="nav-item">

									<a class="nav-link" th:href="@{/#section_about}">
										ABOUT US
									</a>

								</li>

								<!-- about -->
								<li class="nav-item">

									<a class="nav-link" th:href="@{/#section_pricing}">
										STAT
									</a>

								</li>


								<!-- about -->
								<li class="nav-item">

									<a class="nav-link" th:href="@{/#section_contact}">
										CONTACT US
									</a>

								</li>


								<!-- social : mobile only (d-block d-sm-none)-->
								<li class="nav-item d-block d-sm-none text-center mb-4">

									<h3 class="h6 text-muted">Follow Us</h3>

									<a href="#!" class="btn btn-sm btn-facebook transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-facebook"></i> 
									</a>

									<a href="#!" class="btn btn-sm btn-twitter transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-twitter"></i> 
									</a>

									<a href="#!" class="btn btn-sm btn-linkedin transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-linkedin"></i> 
									</a>

									<a href="#!" class="btn btn-sm btn-youtube transition-hover-top mb-2 rounded-circle text-white" rel="noopener">
										<i class="fi fi-social-youtube"></i> 
									</a>

								</li>
								
								
								


							</ul>
							<!-- /NAVIGATION -->


						</div>





						<!-- OPTIONS -->
						<ul class="list-inline list-unstyled mb-0 d-flex align-items-end">
								
								<li class="list-inline-item mx-1 dropdown">

								<a href="#" aria-label="Account Options" id="dropdownAccountOptions" class="btn btn-sm btn-primary text-white " data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
									<span class="group-icon">
										<i class="fi fi-user-male"></i>
										<i class="fi fi-close"></i>
									</span>
									<span>Account</span>
								</a>
								
								
							

								<!--
									
									Dropdown Classes
										.dropdown-menu-dark 		- dark dropdown (desktop only, will be white on mobile)
										.dropdown-menu-hover 		- open on hover
										.dropdown-menu-clean 		- no background color on hover
										.dropdown-menu-invert 		- open dropdown in oposite direction (left|right, according to RTL|LTR)
										.dropdown-click-ignore 		- keep dropdown open on inside click (useful on forms inside dropdown)

										Dropdown prefix icon (optional, if enabled in variables.scss)
											.prefix-link-icon .prefix-icon-dot 		- link prefix
											.prefix-link-icon .prefix-icon-line 	- link prefix
											.prefix-link-icon .prefix-icon-ico 		- link prefix
											.prefix-link-icon .prefix-icon-arrow 	- link prefix

											.prefix-icon-ignore 					- ignore, do not use on a specific link

								-->
								<div aria-labelledby="dropdownAccountOptions" class="prefix-link-icon prefix-icon-dot dropdown-menu dropdown-menu-clean dropdown-menu-invert dropdown-click-ignore p-0 mt--18 fs--15">
									<div class="dropdown-header">
										Washington Valencia
									</div>
									<div class="dropdown-divider"></div>
									<a href="#" title="My Orders" class="dropdown-item text-truncate font-weight-light">
										My Stat <small>(2)</small>
									</a>
									<a href="#" title="My Favourites" class="dropdown-item text-truncate font-weight-light">
										My Favourites <small>(3)</small>
									</a>
									<a href="#" title="Account Settings" class="dropdown-item text-truncate font-weight-light">
										Account Settings
									</a>
									<div class="dropdown-divider mb-0"></div>
									<a href="#!" title="Log Out" class="prefix-icon-ignore dropdown-footer dropdown-custom-ignore">
										<i class="fi fi-power float-start"></i>
										Log Out
									</a>
								</div>

							</li>

						</ul>
						<!-- /OPTIONS -->



					</nav>

				</div>
				<!-- /NAVBAR -->

			</header>
			<!-- /HEADER -->




			<!-- FORM -->
		<section>
			<div class="container">

				<div class="row">

					<div
						class="col-12 col-sm-12 offset-sm-0 col-md-8 offset-md-2 col-lg-6 offset-lg-0 order-2 order-lg-1">

						<div class="accordion" id="accordionAccount">


							<!-- SIGN IN -->

							<form class="collapse bs-validate show" novalidate method="get" action="#" th:action="${'/member'}"



								<!-- title -->
								<h2 class="text-primary mb-1">
									<span class="font-weight-normal">Sign</span> In
								</h2>
								<p class="mb-5 font-weight-medium b-0">
									Type your email and password to continue
								</p>

								<div class="p-5 rounded shadow-xs">


									<!--
										<p class="text-danger">
											Ups! Please check again
										</p>
										-->


									<div class="form-label-group mb-3">
										<input required placeholder="Email" id="account_email" name="account_email"
											type="email" class="form-control">
										<label for="account_email">Email</label>
									</div>

									<div class="input-group-over">
										<div class="form-label-group mb-3">
											<input required placeholder="Password" id="account_password"
												name="account_password" type="password" class="form-control">
											<label for="account_password">Password</label>
										</div>

										<a href="#accordionAccountPasswd" class="btn btn-pill fs--12"
											data-toggle="collapse" aria-expanded="true"
											aria-controls="accordionAccountPasswd">
											FORGOT?
										</a>

									</div>

									<button type="submit" class="btn btn-primary btn-soft btn-block">
										Sign In
									</button>

									<div class="text-center mt--30">
										<a href="#accordionAccountSignUp"
											class="d-block text-success text-decoration-none" data-toggle="collapse"
											aria-expanded="true" aria-controls="accordionAccountSignUp">
											Don't have an account yet?
										</a>
									</div>

								</div>

							</form>
							<!-- /SIGN IN -->



							<!-- PASSWD RESET -->
							<form class="collapse bs-validate" novalidate method="post" action="#"
								id="accordionAccountPasswd" data-parent="#accordionAccount">

								<!-- title -->
								<h2 class="text-primary mb-1">
									<span class="font-weight-normal">Password</span> Reset
								</h2>
								<p class="mb-5 font-weight-medium b-0">
									Type your email and password to continue
								</p>

								<div class="p-5 rounded shadow-xs">

									<h2 class="h5 text-center mb-5 mt-3">
										Password Reset instructions are sent to your email.
									</h2>


									<!--
										<p class="text-danger">
											Ups! Please check again
										</p>
										-->


									<div class="form-label-group mb-4">
										<input required placeholder="Email" id="reset_email" name="reset_email"
											type="email" class="form-control">
										<label for="reset_email">Email</label>
									</div>

									<button type="submit" class="btn btn-primary btn-soft btn-block">
										Reset Password
									</button>

									<div class="text-center mt--30">
										<a href="#accordionAccountSignIn"
											class="d-block text-success text-decoration-none" data-toggle="collapse"
											aria-expanded="true" aria-controls="accordionAccountSignIn">
											Nevermind, back to Sign In
										</a>
									</div>

								</div>

							</form>
							<!-- /PASSWD RESET -->



							<!-- SIGN UP -->
							<form class="collapse bs-validate" novalidate method="post" action="#"
								id="accordionAccountSignUp" data-parent="#accordionAccount">

								<!-- title -->
								<h2 class="text-primary mb-1">
									<span class="font-weight-normal">Sign</span> Up
								</h2>
								<p class="mb-5 font-weight-medium b-0">
									Get started! It's Free!
								</p>

								<div class="p-5 rounded shadow-xs">


									<!--
										<p class="text-danger">
											Ups! Please check again
										</p>
										-->


									<div class="form-label-group mb-3">
										<input required placeholder="First Name" id="signup_first_name"
											name="signup_first_name" type="text" class="form-control">
										<label for="signup_first_name">First Name</label>
									</div>

									<div class="form-label-group mb-3">
										<input required placeholder="Last Name" id="signup_last_name"
											name="signup_last_name" type="text" class="form-control">
										<label for="signup_last_name">Last Name</label>
									</div>

									<div class="form-label-group mb-3">
										<input required placeholder="Email" id="signup_email" name="signup_email"
											type="email" class="form-control">
										<label for="signup_email">Email</label>
									</div>

									<div class="form-label-group mb-3">
										<!-- bootstrap select vendor plugin used -->
										<select required class="form-control bs-select pt-0 pb-0"
											data-live-search="true">
											<option value="">Country...</option>
											<option>United States</option>
											<option>United Kingdrom</option>
											<option>France</option>
										</select>
										<label for="signup_email">Country</label>
									</div>

									<div class="input-group-over">
										<div class="form-label-group mb-3">
											<input required placeholder="Password" id="signup_password"
												name="signup_password" type="password" class="form-control">
											<label for="signup_password">Password</label>
										</div>

										<!-- `SOW : Form Advanced` plugin used -->
										<a href="account-sign-password.html" class="btn fs--12 btn-password-type-toggle"
											data-target="#signup_password">
											<span class="group-icon">
												<i class="fi fi-eye m-0"></i>
												<i class="fi fi-close m-0"></i>
											</span>
										</a>

									</div>


									<!-- GDPR CONSENT -->
									<div class="clearfix bg-light position-relative rounded p-4 mb-4">

										<span class="text-muted fs--12 d-block position-absolute bottom-0 end-0 m-2">
											GAME DAY TRADES
										</span>

										<label class="form-checkbox form-checkbox-primary">
											<input required type="checkbox" name="checkbox">
											<i></i>
											<span>
												I consent that my data is being stored in
												line with the guidelines set out in
												<a href="#" target="_blank">Privacy
													Policy</a>.
											</span>
										</label>

									</div>
									<!-- /GDPR CONSENT -->

									<button type="submit" class="btn btn-primary btn-soft btn-block">
										Sign Up
									</button>

									<div class="text-center mt--30">
										<a href="#accordionAccountSignIn"
											class="d-block text-muted text-decoration-none" data-toggle="collapse"
											aria-expanded="true" aria-controls="accordionAccountSignIn">
											Back to Sign In
										</a>
									</div>

								</div>

							</form>
							<!-- /SIGN UP -->


						</div>

					</div>

					<div
						class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0 order-1 order-lg-2">

						<!-- remove .mt--n50 if image has no top margin -->
						<img class="img-fluid mt--n50" src="demo.files/svg/premium/using_product.svg" alt="...">

					</div>

				</div>

			</div>
		</section>
		<!-- /FORM -->
							

<!-- CONNECT WITH -->
		<section class="py-5 bg-theme-color-light">
			<div class="container">
				<div class="row text-center-xs">

					<div class="col">
						<h3 class="m-0 font-weight-light">Or &ndash; Connect With:</h3>
						<p class="m-0">Alternative ways to sign in!</p>
					</div>

					<div class="col-12 mt-4 d-block d-md-none"><!-- mobile spacer --></div>

					<div class="col-12 col-md-6 col-lg-4 text-align-end">

						<div class="row">

							<div class="col-6">
								<a href="#" class="btn btn-sm btn-block btn-github transition-hover-top mt-1"
									rel="noopener">
									<i class="fi fi-social-github"></i>
									GitHub
								</a>
							</div>

							<div class="col-6">
								<a href="#"
									class="btn btn-sm btn-block bg-googleplay transition-hover-top mt-1 text-white"
									rel="noopener">
									<i>G</i>
									google
								</a>
							</div>

						</div>

					</div>

				</div>
			</div>

		</section>
		<!-- /CONNECT WITH -->


			<!-- Footer -->
			<footer id="footer" class="footer-dark">

				<!-- expandable : hidden by default -->
				<div id="footer_expand" class="collapse">
					<div class="container py-5">

						<h3 class="fs--15 text-muted text-center-xs">SPY US! WE'VE GOT SECRETS!</h3>

						<ul class="mt--30 mb-0 breadcrumb bg-transparent p-0 block-xs"> 
							<li class="breadcrumb-item"><a href="#">Contact</a></li> 
							<li class="breadcrumb-item"><a href="#">About Us</a></li> 
							<li class="breadcrumb-item"><a href="#">Terms &amp; Conditions</a></li> 
							<li class="breadcrumb-item"><a href="#">GDPR &amp; Cookies</a></li> 
						</ul>

						<div class="text-muted mt--30">
							<p>
									Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
							<b>			Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
					
							</p>
						</div>

					</div>
				</div>
				<!-- /expandable : hidden by default -->


				<div class="bg-distinct py-3 clearfix">

					<div class="container clearfix font-weight-light text-center-xs position-relative">


						<div class="clearfix float-start float-none-xs">

							<!-- badge expand info -->
							<span id="footer_expand_badge" class="badge badge-secondary badge-pill p-2 position-absolute start-0 mt--n50 mx-2 position-relative fs--13 font-weight-normal">
								<i class="arrow arrow-bottom border-secondary mx-1 mb--5"></i>
								click to expand
							</span>


							<!-- footer expand toggler -->
							<a href="#footer_expand" 
								data-toggle-target="#footer_expand_badge" 
								data-toggle-container-class="hide-force" 
								data-offset="-100%" 
								data-speed="600" 
								class="scroll-to btn-toggle btn float-start overlay-dark overlay-opacity-2 overflow-hidden text-decoration-none px-3 rounded mt--n8 mb--n8" data-toggle="collapse" rel="noopener" aria-expanded="false">
								
								<span class="group-icon">
									<i class="fi fi-menu-dots fs--18"></i>
									<i class="fi fi-close fs--18"></i>
								</span>

							</a>

							<!-- copyright -->
							<div class="fs--14 py-2 float-start float-none-xs m-0-xs">
								&copy; GameDayTrades.
							</div>

							<div class="clearfix mt-2 d-block d-sm-none"><!-- mobile spacer --></div>
						</div>


						<!-- credit card -->
						<ul class="list-inline mb-0 mt-2 float-end float-none-xs"> 
							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/visa.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="visa credit card icon">
							</li> 

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/mastercard.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="mastercard credit card icon">
							</li> 

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/discover.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="discover credit card icon">
							</li>

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/amazon.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="amazon credit card icon">
							</li>
							
							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/paypal.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="paypal credit card icon">
							</li>

							<li class="list-inline-item m-0"> 
								<img width="38" height="24" class="lazy" data-src="assets/images/credit_card/skrill.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="skrill credit card icon">
							</li>

							<!-- more vendors on assets/images/credit_card/ -->

						</ul>
						<!-- /credit card -->

					</div>

				</div>

			</footer>
			<!-- /Footer -->


		</div><!-- /#wrapper -->


		<!-- vendor loaded by core -->
		<script async src="assets/js/core.min.js"></script>

		
	</body>
</html>